{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block breadcrumbs %}{% endblock %}
{% comment %} {% admin_black_get_menu as app_list %}
{% for app in app_list %}
{%for models in app.models%}
{{models}}
{%endfor%}
{%endfor%} {% endcomment %}
{% block content %}
    <div class="content">
        <div class="row">
            <div class="dashboard-box col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
				<div class="card">
					<div class="card-statistic-4 dash">
						<div class="align-items-center justify-content-between ">							
							<div class="row ">					
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3 ">
									<div class="card-content">
										<h5 class="font-15 clr">Prescription Bookings</h5>
										<h2 class="mb-3 font-18 clr" id="pbcount"></h2>
										<a id="presc" href="" class="font-weight-bold">View</a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 ">
									<div class="banner-img">
										<img src="{% static 'images/prescriptionimg.png'%}" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="dashboard-box col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-statistic-4 dash">
						<div class="align-items-center justify-content-between">							
							<div class="row ">					
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
									<div class="card-content">
										<h5 class="font-15 clr">Test Bookings</h5>
										<h2 class="mb-3 font-18 clr" id="tbcount"></h2>
										<a id="tests" href="" class="font-weight-bold">View</a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
									<div class="banner-img">
										<img src="{% static 'images/selected.png'%}" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="dashboard-box col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-statistic-4 dash">
						<div class="align-items-center justify-content-between">							
							<div class="row ">					
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
									<div class="card-content">
										<h5 class="font-15 clr">Total Amount</h5>
										<h2 class="mb-3 font-18 clr" id="acount"></h2>
										<a id="tamount" href="" class="font-weight-bold">View</a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
									<div class="banner-img">
										<img src="{% static 'images/amount.png'%}" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="dashboard-box col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="card">
					<div class="card-statistic-4 dash">
						<div class="align-items-center justify-content-between">							
							<div class="row ">					
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
									<div class="card-content">
										<h5 class="font-15 clr">Outstanding Amount</h5>
										<h2 class="mb-3 font-18 clr" id="ocount"></h2>
										<a id="out" href="" class="font-weight-bold">View</a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
									<div class="banner-img">
										<img src="{% static 'images/out.png'%}" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        {% comment %} <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

       <div>
            <canvas id="myChart" width="500px" height="500px"></canvas>
        </div>  {% endcomment %}
        {% comment %} <script>
            var xValues = [50,60,70,80,90,100,110,120,130,140,150];
            var yValues = [7,8,8,9,9,9,10,11,14,14,15];
            
            new Chart("myChart", {
              type: "line",
              data: {
                labels: xValues,
                datasets: [{
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "rgba(0,0,255,1.0)",
                  borderColor: "rgba(0,0,255,0.1)",
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                scales: {
                  yAxes: [{ticks: {min: 6, max:16 } }],
                }
              }
            });
            </script> {% endcomment %}
        <div class="row">
            <div class="col-lg-6 col-sm-6 cont">
                <div class="card ">
                    <div class="card-header {{ direction.panel }}">
                        <h4 class="card-title">{% trans "Prescription Bookings" %}</h4>
                    </div>
                    <div class="card-body" style="height:400px; overflow:auto;">
                        <div class="table-responsive">
                            <table class="table tablesorter table  table-sm .table-scroll" cellspacing="0" id="dtHorizontalExample" width="50%">
                                <thead class="text-primary">
                                <tr>
                                    <th>
                                        Booking Id
                                    </th>
                                    <th>
                                       Prescription File
                                    </th>
                                    <th>
                                        Firstname
                                    </th>
                                    <th class="text-center">
                                        Gender
                                    </th>
                                    
                                </tr>
                                </thead>
                                <tbody class="prescription">
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="card ">
                    <div class="card-header {{ direction.panel }}">
                        <h4 class="card-title">{% trans "Test Bookings" %}</h4>
                    </div>
                    <div class="card-body" style="height:400px; overflow:auto;">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class="text-primary">
                                <tr>
                                    <th>
                                        Booking Id
                                    </th>
                                    <th>
                                        Payment
                                    </th>
                                    <th>
                                        Firstname
                                    </th>
                                    <th class="text-center">
                                        Gender
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="test">
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $.getJSON("/dashboard",function (j) {
        console.log(j)
        tcount=j.test
        tbcount=j.test_bookings
        pbcount=j.prescription_bookings
        hpcount=j.packages
        acount=j.totalamount
        ocount=j.outstandingamount
        $("#tcount").text(tcount);
        $("#tbcount").text(tbcount);
        $("#pbcount").text(pbcount);
        $("#hpcount").text(hpcount);
        $("#acount").text(acount);
        $("#ocount").text(ocount);
     })    
$.getJSON("/index",function (j) {
  console.log(j)
   $.each(j, function(i, k) {


   if (k.fields.gender==="m"){
    gender="Male"
   }
   else{
    gender="Female"
   }
   fileurl=window.location.origin+'/media/'+k.fields.prescription_file
   detail=window.location.origin+'/admin/app1/prescriptionbook1/'+k.pk+'/change/'
   console.log(detail)

   cont= `<tr>
    
        <td>
            <a href="${detail}" >
            ${k.fields.bookingid}
            <a>
        </td>
        <td>
      <a href="${fileurl}" target="_blank">
            ${k.fields.prescription_file.slice(0, 20).concat('...')}
        </a>
    </td>
        <td>
            ${k.fields.firstname}
        </td>
        <td class="text-center">
            ${gender}
        </td>
    </tr>`
  $(".prescription").append(cont)
});
  

})

$.getJSON("/index2",function (j) {
  
    $.each(j, function(i, k) {
    console.log(i)
    console.log(k.fields)
   // origin   = window.location.origin; 
    //console.log(window.location.origin)
 
    if (k.fields.gender==="m"){
     gender="Male"
    }
    else{
     gender="Female"
    }
    if(k.fields.payment_status===true){
        payment="Paid"
    }
    else{
        payment="Not Paid"
    }
    c=window.location.origin+'/media/'+k.fields.prescription_file
    
    detail=window.location.origin+'/admin/app1/testbook/'+k.pk+'/change/'

   cont= `<tr>
     
         <td>
             <a href="${detail}"  >
             ${k.fields.bookingid}
             <a>
         </td>
         <td>
             ${payment}
     </td>
         <td>
             ${k.fields.firstname}
         </td>
         <td class="text-center">
             ${gender}
         </td>
     </tr>`
   $(".test").append(cont)
 });

 })
 payments=window.location.origin+"/admin/app1/book_history"
 var oldUrl = $("#out").attr("href"); // Get current url
var newUrl = oldUrl.replace("", payments); // Create new url
    $("#out").attr("href", newUrl);

 details=window.location.origin+"/admin/app1/payment"
 var oldUrl = $("#tamount").attr("href"); // Get current url
 var newUrl = oldUrl.replace("", details); // Create new url
    $("#tamount").attr("href", newUrl);

testb=window.location.origin+"/admin/app1/test"
var oldUrl = $("#tests").attr("href"); // Get current url
var newUrl = oldUrl.replace("", testb); // Create new url
    $("#tests").attr("href", newUrl);

precri=window.location.origin+"/admin/app1/prescriptionbook1"
var oldUrl = $("#presc").attr("href"); // Get current url
var newUrl = oldUrl.replace("", precri); // Create new url
    $("#presc").attr("href", newUrl);
})

$(document).ready(function () {
    $('#dtHorizontalExample').DataTable({
      "scrollX": true
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
{% endblock %}

{% block extrascript %}{% endblock %}
{% comment %} {% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}{% endblock %}

{% block content %}


   <div class="content">
    <h2>Dashboard</h2>
    <div class="container-sm dashboard">
        <div class="row dashboardrow">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on 
                            the card title and make up the bulk 
                            of the card's content.
                        </p>
  
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Card link
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the 
                            card title and make up the bulk of the 
                            card's content.
                        </p>
                          
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Card link
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the 
                            card title and make up the bulk of the 
                            card's content.
                        </p>
                          
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Card link
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the 
                            card title and make up the bulk of the 
                            card's content.
                        </p>
                          
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Card link
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="card ">
                    <div class="card-header {{ direction.panel }}">
                        <h4 class="card-title">{% trans "Simple Table" %}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class="text-primary">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th class="text-center">
                                        Salary
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td class="text-center">
                                        $36,738
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Minerva Hooper
                                    </td>
                                    <td>
                                        Curaçao
                                    </td>
                                    <td>
                                        Sinaai-Waas
                                    </td>
                                    <td class="text-center">
                                        $23,789
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Sage Rodriguez
                                    </td>
                                    <td>
                                        Netherlands
                                    </td>
                                    <td>
                                        Baileux
                                    </td>
                                    <td class="text-center">
                                        $56,142
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Philip Chaney
                                    </td>
                                    <td>
                                        Korea, South
                                    </td>
                                    <td>
                                        Overland Park
                                    </td>
                                    <td class="text-center">
                                        $38,735
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Doris Greene
                                    </td>
                                    <td>
                                        Malawi
                                    </td>
                                    <td>
                                        Feldkirchen in Kärnten
                                    </td>
                                    <td class="text-center">
                                        $63,542
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mason Porter
                                    </td>
                                    <td>
                                        Chile
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                    <td class="text-center">
                                        $78,615
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Jon Porter
                                    </td>
                                    <td>
                                        Portugal
                                    </td>
                                    <td>
                                        Gloucester
                                    </td>
                                    <td class="text-center">
                                        $98,615
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascript %}{% endblock %} {% endcomment %}
