{% load i18n static admin_black %}
{% if user.is_active and user.is_staff or has_permission %}
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'admin:index' %}" class="simple-text logo-normal">{% trans 'Diagnostica Span' %}</a>
            </div>
            <ul class="nav">
                <li>
                    <a href="{% url 'admin:index' %}">
                        <p class="home">
                            <i class="tim-icons icon-chart-pie-36"></i>{% trans 'Dashboard' %}</p>
                    </a>
                </li>
                {% admin_black_get_menu as app_list %}
                {% if app_list %}
                    {% for app in app_list %}
                    {%if app.app_label == "app1"%}
                        {% if app.has_perms and not app.pinned %}
                            <li>
                                <a{% if not app.models and app.url %} href="{{ app.url }}"{% endif %}
                                                                      class="navbar-btn sidebar-link popup-section-link app-item"
                                                                      data-app-label="{{ app.app_label }}"
                                                                      data-popup-section-class="sidebar-popup-section-{{ app.app_label }}"
                                                                      data-order="{{ forloop.counter }}"
                                        {% if app.url_blank %} target="_blank"{% endif %}>
                                    <i class="{{ app.icon }}"></i>
                                    <p>
                                       <i class="tim-icons icon-single-02"></i> 
                                        Admin 
                                        {% if app.models %}
                                            <span class="tim-icons icon-minimal-down m-2"></span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if app.models%}
                                    <ul class="navbar-dropdown">
                                        {% for model in app.models %}
                                        {%if model.label == "City"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-square-pin"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                       
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Prescription Bookings"%}
                                       
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-paper"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Test Bookings"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-tap-02"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "City"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-tap-02"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Booking Histories"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-refresh-02"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                       
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Test Category"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-components"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Tests"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-bullet-list-67"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                       
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%endif%}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if app_list %}
                    {% for app in app_list %}
                    {%if app.app_label == "app1"%}
                        {% if app.has_perms and not app.pinned %}
                            <li>
                                <a{% if not app.models and app.url %} href="{{ app.url }}"{% endif %}
                                                                      class="navbar-btn sidebar-link popup-section-link app-item"
                                                                      data-app-label="{{ app.app_label }}"
                                                                      data-popup-section-class="sidebar-popup-section-{{ app.app_label }}"
                                                                      data-order="{{ forloop.counter }}"
                                        {% if app.url_blank %} target="_blank"{% endif %}>
                                    <i class="{{ app.icon }}"></i>
                                    <p><i class="tim-icons icon-bag-16"></i> 
                                        Packages 
                                        {% if app.models %}
                                            <span class="tim-icons icon-minimal-down m-2"></span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if app.models %}
                                    <ul class="navbar-dropdown">
                                        {% for model in app.models %}
                                        {%if model.label == "Popular Tests"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-bag-16"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Health Packages"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-bag-16"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Life Style Assesments"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-bag-16"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            
                                            {%endif%}
                                            
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if app_list %}
                {% for app in app_list %}
                {% if app.has_perms and not app.pinned %}
                {% if app.models %}
                {% for model in app.models %}
                                        {%if model.label == "Registered Users"%}
                <li>
                    {% comment %} <a href="{{ site_url }}">
                        
                        <p class="home">{% trans 'Site' %}</p>
                    </a> {% endcomment %}
                    <a href="{{ model.url }}">
                       
                        <p class="home">
                            <i class="fa fa-users stroke-transparent" aria-hidden="true"></i>{% trans 'Registered Users' %}</p>
                    </a>
                </li>
                {%endif%}
                {%endfor%}
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endif%}
                {% if app_list %}
                    {% for app in app_list %}
                    {%if app.app_label == "app1"%}
                        {% if app.has_perms and not app.pinned %}
                            <li>
                                <a{% if not app.models and app.url %} href="{{ app.url }}"{% endif %}
                                                                      class="navbar-btn sidebar-link popup-section-link app-item"
                                                                      data-app-label="{{ app.app_label }}"
                                                                      data-popup-section-class="sidebar-popup-section-{{ app.app_label }}"
                                                                      data-order="{{ forloop.counter }}"
                                        {% if app.url_blank %} target="_blank"{% endif %}>
                                    <i class="{{ app.icon }}"></i>
                                    <p><i class="tim-icons icon-notes"></i> 
                                        Blogs 
                                        {% if app.models %}
                                            <span class="tim-icons icon-minimal-down m-2"></span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if app.models %}
                                    <ul class="navbar-dropdown">

                                        {% for model in app.models %}
                                       
                                        {%if model.label == "Blogs Category"%}
                                       
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-components"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Blogs"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-notes"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%endif%}
                                            
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if app_list %}
                {% for app in app_list %}
                {% if app.has_perms and not app.pinned %}
                {% if app.models %}
                {% for model in app.models %}
                                        {%if model.label == "Payments History"%}
                <li>
                    <a href="{{ model.url }}">
                       
                        <p class="home">
                            <i class="tim-icons icon-money-coins"></i>{% trans 'Payments' %}</p>
                    </a>
                </li>
{%endif%}
{%endfor%}
{%endif%}
{%endif%}
{%endfor%}
{%endif%}
                {% if app_list %}
                    {% for app in app_list %}
                    {%if app.app_label == "app1"%}
                        {% if app.has_perms and not app.pinned %}
                            <li>
                                <a{% if not app.models and app.url %} href="{{ app.url }}"{% endif %}
                                                                      class="navbar-btn sidebar-link popup-section-link app-item"
                                                                      data-app-label="{{ app.app_label }}"
                                                                      data-popup-section-class="sidebar-popup-section-{{ app.app_label }}"
                                                                      data-order="{{ forloop.counter }}"
                                        {% if app.url_blank %} target="_blank"{% endif %}>
                                    <i class="{{ app.icon }}"></i>
                                    <p><i class="tim-icons icon-gift-2"></i> 
                                        Coupons 
                                        {% if app.models %}
                                            <span class="tim-icons icon-minimal-down m-2"></span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if app.models %}
                                    <ul class="navbar-dropdown">
                                        {% for model in app.models %}
                                        {%if model.label == "Coupons"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-gift-2"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Redeemed Coupons"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-molecule-40"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%endif%}
                                            
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if app_list %}
                    {% for app in app_list %}
                    {%if app.app_label == "app1"%}
                        {% if app.has_perms and not app.pinned %}
                            <li>
                                <a{% if not app.models and app.url %} href="{{ app.url }}"{% endif %}
                                                                      class="navbar-btn sidebar-link popup-section-link app-item"
                                                                      data-app-label="{{ app.app_label }}"
                                                                      data-popup-section-class="sidebar-popup-section-{{ app.app_label }}"
                                                                      data-order="{{ forloop.counter }}"
                                        {% if app.url_blank %} target="_blank"{% endif %}>
                                    <i class="{{ app.icon }}"></i>
                                    <p><i class="tim-icons icon-components"></i> 
                                        Assets 
                                        {% if app.models %}
                                            <span class="tim-icons icon-minimal-down m-2"></span>
                                        {% endif %}
                                    </p>
                                </a>

                                {% if app.models %}
                                    <ul class="navbar-dropdown">
                                        {% for model in app.models %}
                                        {%if model.label == "Newsletter"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-email-85"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "About Span"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-info" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Contact us form"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="tim-icons icon-book-bookmark"></i>  {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "FAQ"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Call Back Requests"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            
                                            {%elif model.label == "Franchise"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "User Medications"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Careers Form"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            {%elif model.label == "Career Designations"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Invoice"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Subscriptions"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-question-circle" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}

                                            {%elif model.label == "Testimonials"%}
                                            {% if model.url %}
                                                <li class="{{ direction.panel }}">
                                                    {% comment %} <i class="fa fa-quote-left" aria-hidden="true"></i> {% endcomment %}
                                                    <a href="{{ model.url }}">
                                                        <span class="tim-icons icon-minimal-{{ direction.notify }}"></span>
                                                        <span>{{ model.label }}</span>
                                                        
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ model.label }}</li>
                                            {% endif %}
                                            
                                            {%endif%}
                                            
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if app_list %}
                {% for app in app_list %}
                {%if app.app_label == "auth" %}
              
                {% if app.has_perms and not app.pinned %}
                {% if app.models %}
                {% for model in app.models %}
                {%if model.label == "Groups"%}
                <li>
                    <a href="{{ model.url }}">
                       
                        <p class="home">
                            <i class="fa fa-users stroke-transparent" aria-hidden="true"></i>{% trans 'Groups' %}</p>
                    </a>
                </li>
                {%endif%}
                {%endfor%}
                {%endif%}
                {%endif%}
                {%endif%}
                {%endfor%}
                {%endif%}
            </ul>
        </div>
    </div>
{% endif %}