{% extends "index.html" %}
{% load static %}

{%block content%}

<body>
    {%include "header.html"%}
    <section class="sub_header py-xl-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ">
                        <p class="m-0 fs-18 font-regular cl-dark-blue opc-5 pe-1 sub_nav_bar"><a
                                href="{%url "home"%}">Home</a></p>
                        /
                        <p class="m-0 fs-18 font-regular cl-dark-blue ps-1 sub_nav_bar">About Us</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_about_us ">
        <div class="container">
            <div class="row py-lg-5 py-3 bg-light-blue px-lg-5 px-2 br-15">
                <div class="col-lg-5">
                    <div>
                        <img src="{%static "images/about-1.jpg"%}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="">
                        {% comment %} <h3 class="fs-30 font-bold cl-dark-blue py-4">Lorem Ipsum is simply dummy text of the printing
                            and
                            typesetting industry.</h3> {% endcomment %}
                        <p><h5>Vision</h5>
                            To be viewed as a trusted partner in the delivery of dependable excellence in the diagnostic results to
                            the patients in the communities we serve.<br><br>
                            <h5>Mission</h5>
                            <li> To contribute to a safer and healthier world by providing our customers with innovative
                            and high quality laboratory and advisory services.</li>
                            <li> To create a positive, nurturing and inclusive environment for our associates.</li>
                            <li> Ensure accurate, precise and timely results are available to our customers to allow them
                            to improve the impact of the healthcare services they provide. <li>
                            <li> To build a relationship of respect and integrity with our customers and stakeholders.</li>
                           </p>
                           <p>The Company’s broad spectrum of services offer around 1200 clinical laboratory tests and various
                            profiles. Various test combinations, specific to a disease or disorder and wellness profiles used for
                            health and fitness screening, form a part of the Company’s service profile. One can choose and book
                            tests for: CBC, Blood sugar, Thyroid, Allergy, Pregnancy, Heart profile, Diabetes profile, Liver profile,
                            Vitamin B12 or Vitamin D3 and many more.</p>
                            <h5>Our USPs for your benefit:</h5>
                            <li> State of the art infrastructure</li>
<li>  Qualified and efficient technical staff</li>
<li>  NABL accreditation awaited</li>
<li>  Home collection- go to our website and book</li>
<li>  You can choose from a wide array of tests</li>
<li>  Upload your doctor’s prescription for booking a test(s)</li>
<li>  Attractive and budget-friendly wellness packages</li>
<li>  Easy payment gateway</li>
<li>  24/7 customer care</li>
<li>  Quick TAT and easy online accessibility of your reports</li>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section_about_why_choose_us my-5 pb-5 bg-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 px-lg-0 px-3">
                    <div class="">
                        <div class="">
                            <h2 class="fs-35 font-bold cl-dark-blue  py-lg-5 py-3 text-center">Why Choose Us</h2>
                            <div id="about_us_slider" class="owl-carousel owl-theme">
                                <div class="about_carousel py-4 px-3">
                                    <div class="d-flex justify-content-center">
                                        <img src="{%static "images/about_us_icon.png"%}" alt="" class=" img-fluid">
                                    </div>
                                    <h3 class="fs-30 font-bold cl-dark-blue text-center py-3">20 plus years of experience
                                    </h3>
                                    <p class="cl-dark-blue">
Celebrating 20 plus years of Responsibility, Commitment and Trust: Since 2005, when SPAN began,
our mission has always been to serve the community by partnering with care-givers and bringing
home leading-edge technologies that advance the standard of medical practice in India.</p>
                                </div>
                                <div class="about_carousel py-4 px-3 ">
                                    <div class="d-flex justify-content-center">
                                        <img src="{%static "images/about_us_icon.png"%}" alt="" class=" img-fluid">
                                    </div>
                                    <h3 class="fs-30 font-bold cl-dark-blue text-center py-3">Vein to Vein Solution
                                    <p>Our extensive product range and capabilities enable us to focus on providing a complete set of solutions today, facilitating the safe and effective passage of blood from the Donor’s vein to the Recipient’s vein. Today, SPAN is the only organization serving the transfusion services community with a comprehensive end-to-end range of industry-leading blood screening solutions for Transfusion Transmitted Infections (TTI) and Immuno-Hematology (IH) applications.</p>
                                      
                                </div>
                                <div class="about_carousel py-4 px-3 ">
                                    <div class="d-flex justify-content-center">
                                        <img src="{%static "images/about_us_icon.png"%}" alt="" class=" img-fluid">
                                    </div>
                                    <h3 class="fs-30 font-bold cl-dark-blue text-center py-3">Partners
                                    <p>We’ve partnered with more than 200 hospitals and more than 300 Blood Banks.</p>
                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%include "footer.html"%}

</body>
<script>
    $("#about_us_slider").owlCarousel({
        loop: true,
        margin: 30,
        items: 3,
        responsiveClass: true,
        autoHeight: false,
        autoplayTimeout: 4000,
        smartSpeed: 800,
        dots: false,
        nav: false,
        autoplay: true,
        responsive: {
            0: {
                items: 1,
            },

            576: {
                items: 1,
            },
            768: {
                items: 1,
            },

            992: {
                items: 2,
            },

            1199: {
                items: 3,
            },
        },
    });

</script>

{%endblock%}