{% extends "index.html" %}
{% load static %}
{%block content%}

<body onload="setAttr()">
    <div class="preload" style="display:none"><img src="http://i.imgur.com/KUJoe.gif">
    </div>
    {% include "header.html"%}
    <div id="loaderr" class="center"></div>
    <section class="sub_header py-xl-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ">
                        <p class="m-0 fs-18 font-regular cl-dark-blue opc-5 pe-1 sub_nav_bar"><a
                                href="{%url "home"%}">Home</a></p>
                        /
                        <p class="m-0 fs-18 font-regular cl-dark-blue ps-1 sub_nav_bar">Booking History</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_booking_history pb-5 mb-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class=" bg-light-grey py-4 py-lg-0 br-15">
                        <div class="row ">
                            <div class="col-xxl-10 col-lg-12 mx-auto justify-content-between ">
                                <ul class="nav nav-pills mb-lg-3 mb-3 justify-content-evenly" id=" pills-tab"
                                    role="tablist">
                                    <li class="nav-item py-xxl-5 py-xl-5 py-lg-4 br" role="presentation">
                                        <button class=" nav-links br fs-25 font-bold tad_button bg-light-grey active"
                                            id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                                            type="button" role="tab" aria-controls="pills-home"
                                            aria-selected="true">Booking history </button>
                                    </li>
                                    <li class="nav-item py-xxl-5 py-xl-5 py-lg-4  br" role="presentation">
                                        <button class="nav-links br fs-25 font-bold tad_button bg-light-grey"
                                            id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                                            type="button" role="tab" aria-controls="pills-profile"
                                            aria-selected="false">Payment History</button>
                                    </li>
                                    <li class="nav-item py-xxl-5 py-xl-5 py-lg-4  br" role="presentation">
                                        <button class="nav-links br fs-25 font-bold tad_button bg-light-grey"
                                            id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                                            type="button" role="tab" aria-controls="pills-contact"
                                            aria-selected="false">Medications</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 px-lg-5 px-3">
                                <div class="tab-content" id="pills-tabContent">
                                    
                                    <div class="pb-lg-5 pb-3 tab-pane fade show active " id="pills-home" role="tabpanel"
                                        aria-labelledby="pills-home-tab" tabindex="0">
                                        <h1 class="text-center fs-30 font-bold cl-dark-blue mb-4" id="nodataa">No Record Found...</h1>
                                        <table class="bookingh" id ="bookinghistorytable">
                                            <thead>
                                                <tr>
                                                    <td class="t_head" scope="col">ID</td>
                                                    <td class="t_head" scope="col">Date</td>
                                                    <td class="t_head" scope="col">Patient Info</td>
                                                    <td class="t_head" scope="col">Booking Type</td>
                                                    {% comment %} <td class="t_head" scope="col">Prescription</td> {% endcomment %}
                                                    <td class="t_head" scope="col">Booking Details</td>
                                                    <td class="t_head" scope="col">Amount</td>
                                                    <td class="t_head" scope="col">Payment Status</td>
                                                    {% comment %} <td class="t_head" scope="col">Status</td> {% endcomment %}
                                                    <td class="t_head" scope="col">Report</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bookhistory in bookhistories %}
                                                <tr>
                                                    {% if bookhistory.bookingid == None %}
                                                    <td data-label="ID">-
                                                    </td>
                                                     {%else%}
                                                     <td data-label="ID">{{bookhistory.bookingid}}
                                                    </td>
                                                    {%endif%}
                                                    <td data-label="Date">{{bookhistory.created}}</td>
                                                   
                                                    {%if bookhistory.patient_info == "others" %}
                                                    <td data-label="Patient Info"><a id="otherspop1" data-bs-toggle="modal" data-bs-target="#otherspop" class="br bg-dark-white cursor" onclick='othersfunc("{{bookhistory.uni}}")';>{{bookhistory.patient_info}}</a></td>
                                                    {%else%}
                                                    <td data-label="Patient Info">{{bookhistory.patient_info}}</td>
                                                    {%endif%}
                                                    <td data-label="Booking Type">{{bookhistory.booking_type}}</td>
                                                    
                                                    {% if bookhistory.prescription %}
                                                    <td data-label="Booking Details"><a  target="blank" href="{{ bookhistory.prescription.url}}">{{bookhistory.bookingdetails|truncatechars:10}}</a></td>
                                                    {% else %}
                                                    <td data-label="Booking Details"><a id="testdetails" name="{{bookhistory.id}}" data-bs-toggle="modal" data-bs-target="#testdetaill" class="br bg-dark-white cursor" onclick='testfunc({{bookhistory.id}})';>{{bookhistory.bookingdetails|truncatechars:10}}</a></td>
                                                    {% endif %}
                                                    {%if bookhistory.amount == None%}
                                                        <td data-label="Amount">-</td>
                                                    {%elif bookhistory.prescription%}
                                                        <td data-label="Amount">₹ {{bookhistory.amount}}<i  id ="prescriptiontest" data-bs-toggle="modal" data-bs-target="#prescriptionbreaks" class="fa fa-info br-5 cursor" aria-hidden="true" style="text-align:center;background:#d5e6f7; padding:5px 9px;margin-left:5px " onclick='prescrbreak("{{bookhistory.uni}}","₹ {{bookhistory.amount}}")'></i></td>
                                                    {%else%}
                                                    <td data-label="Amount">₹ {{bookhistory.amount}}</td>
                                                    {%endif%}
                                                    {%if not bookhistory.payment_status%}
                                                        <td data-label="Payment Status">Not paid</td>
                                                    {%else%}
                                                        <td data-label="Payment Status">Paid</td>
                                                    {%endif%}
                                                    {% comment %} <td data-label="Status">On Process</td> {% endcomment %}
                                                    {%if  bookhistory.payment_status == False%}
                                                    <td data-label="Report">
                                                        {% comment %}<button
                                                            class="br br-5 fs-16 font-bold bg-dark-green cl-dark-white download text-center paynow-btn" 
                                                            {% if bookhistory.amount == None %}
                                                            onclick='paymentFunction("{{bookhistory.uni}}", "false")';
                                                            {% else %}onclick='paymentFunction("{{bookhistory.uni}}", "true")';{% endif %}id="testbooking{{bookhistory.testbooking_id}}">Pay Now</button>
                                                            <br><br> {% endcomment %}
                                                            {%if bookhistory.paymentmethod == "1"%}
                                                            <a href="#"
                                                            class=""><button class="download br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue">COD</button></a>
                                                            {%else%}
                                                            <button
                                                            class="br br-5 fs-16 font-bold bg-dark-green cl-dark-white download text-center paynow-btn" 
                                                            {% if bookhistory.amount == None %}
                                                            onclick='paymentFunction("{{bookhistory.uni}}", "false")';
                                                            {% else %}data-bs-toggle="modal" data-bs-target="#paymentinfo1" onclick='unikey("{{bookhistory.uni}}","{{bookhistory.amount}}","true")';{% endif %}id="testbooking{{bookhistory.testbooking_id}}">Check out</button>
                                                    {%endif%}
                                                        </td>
                                                    {% comment %} {%elif bookhistory.paymentmethod == "1"%}
                                                    <a href="#"
                                                        class=""><button class="download br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue">COD</button></a> {% endcomment %}
                                                    {%else%}
                                                        {%if bookhistory.report %}
                                                        <td data-label="Report">
                                                        <a href="{{bookhistory.report.url}}"
                                                        class="" download><button class="download br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue">Download
                                                        Now</button></a>
                                                        </td>
                                                        {% else %}
                                                        <td data-label="Report">
                                                        <a href="#"
                                                        class=""><button class="download br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue">No File</button></a>
                                                        {% endif %}
                                                    {%endif%}
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% comment %} table end {% endcomment %}
                                    <div class="tab-pane fade pb-5 " id="pills-profile" role="tabpanel"
                                        aria-labelledby="pills-profile-tab" tabindex="0">
                                        <h1 class="text-center fs-30 font-bold cl-dark-blue mb-4" id="nodata">No Record Found...</h1>
                                        <table class="paymentc">
                                            <thead>
                                                <tr>
                                                    <td class="t_head" scope="col">Payment ID</td>
                                                    <td class="t_head" scope="col">Booking ID</td>
                                                    <td class="t_head" scope="col">Date</td>
                                                    {% comment %} <td class="t_head" scope="col">Payment</td> {% endcomment %}
                                                    <td class="t_head" scope="col">Amount</td>
                                                    <td class="t_head" scope="col">Invoice</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for payment in payments%}
                                                <tr>
                                                    <td data-label="Payment ID">{{payment.paymentid}}</td>
                                                    <td data-label="Booking ID">{{payment.booking_id}}</td>
                                                    <td data-label="Date">{{payment.date}}</td>
                                                    {% comment %} <td data-label="Payment">My Self</td> {% endcomment %}
                                                    <td data-label="Amount">₹ {{payment.amount|floatformat:2}}</td>
                                                    <td data-label="Invoice"><a href="{% url "invoice" payment.transid %} " target="_blank"
                                                            class=""><button class="br br-5 fs-16 font-bold bg-dark-green cl-dark-white download text-center">Invoice</button></a>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                        aria-labelledby="pills-contact-tab" tabindex="0">
                                        <h1 class="text-center fs-30 font-bold cl-dark-blue mb-4">No Record Found...</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="paymentinfo" id ="paymentinfo">
        <div class="modal fade" id="paymentinfo1" tabindex="-1" aria-labelledby="paymentinfomodalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content  p-3 p-sm-4">
                    <div class="modal-body">
                        <button type="button" id="checkoutinfoclose" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        {% comment %} <form method="post" id="checkoutinfoform">
                           {%csrf_token%} {% endcomment %}
                            <h3 class="fs-30 font-bold cl-dark-blue text-center">Checkout Information</h3>
                            {% comment %} <div>
                                <select class="w-100 mt-3 form-select " type="select" name="option1" id="option1">
                                    <option selected="selected" class="opc-5" disabled>Select Test For</option>
                                    <option value="m">My-Self</option>
                                    <option value="o">Others</option>
                                </select>
                            </div>
                            <div>
                                <select class="w-100 mt-3 form-select " type="select" name="option" id="option">
                                    <option selected="selected" class="opc-5" disabled>To Whom</option>
                                    <option value="m">Mother</option>
                                    <option value="f">Father</option>
                                    <option value="w">Wife</option>
                                    <option value="s">Son</option>
                                    <option value="s">Daughter</option>
                                    <option value="s">Others</option>
                                </select>
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3 " placeholder="First Name" name="firstname" id="firstname"
                                    type="text" maxlength="250" >
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Last Name" name="lastname" id="lastname"
                                    type="text" maxlength="250" >
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Mobile Number" name="phone" id="phone"
                                    type="number" maxlength="250">
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Age" name="age" id="age" type="number" maxlength="250"/>
                            </div>
                            <div>
                                <select class="w-100 mt-3 form-select myself_other" type="select" name="gender" id="gender">
                                    <option selected="selected" class="opc-5" disabled>
                                        Gender</option>
                                        <option value="m">Male</option>
                                        <option value="f">Female</option>
                                        <option value="o">Others</option>
                                </select>
                            </div> {% endcomment %}
                            <div class="bg-light-blue br-5 p-3 d-flex align-items-center">
                                <label>Total Price:</label>
                                <p class="m-0 ps-2 font-bold" id="totalprice"></p>
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Date" name="Date" id="Date" type="Date" maxlength="250"/>
                            </div>
                            <div>
                                <select class="w-100 mt-3 form-select myself_other" type="select" name="timeslot" id="timeslot">
                                        <option selected="selected" class="opc-5" disabled>
                                        Pickup Time Slot</option>
                                        <option value="1">7:00AM-11:00AM</option>
                                        <option value="2">11:00AM-3:00PM</option>
                                        <option value="3">3:00PM-6:00PM</option>
                                </select>
                            </div>
                            <div>
                                <select class="w-100 mt-3 form-select myself_other" type="select" name="City" id="City">
                                    <option selected="selected" class="opc-5" disabled>
                                        City</option>
                                        {%for i in city%}
                                        <option value="{{i.id}}">{{i.cityname}}</option>
                                        {%endfor%}
                                </select>
                            </div>
                            <div>
                                <textarea rows="2" class="w-100 myself_other form_input mt-3" placeholder="Address" name="address1" id="address1" type="text" ></textarea>
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Pincode" name="pincode" id="pincode" type="number" pattern=".{6,6}"/>
                                <p class="error pincodeerror"><p>
                            </div>
                            <div>
                                <select class="w-100 mt-3 form-select myself_other" type="select" name="paymentmethod" id="paymentmethod" >
                                    <option selected="selected" class="opc-5" disabled>
                                        Payment Method</option>
                                        <option value="1">Cash on Collection</option>
                                        <option value="2">Online</option>
                                        {% comment %} <option value="3">3:00PM-6:00PM</option> {% endcomment %}
                                </select>
                            </div>
                            <div class="row mt-3" id="cpndesc">
                                <div class="col-8">
                                    <input class="w-100  form_input " placeholder="Coupon"
                                        id="coupon" name="coupon" type="search" onsearch="coupRemove()" maxlength="15"/>
                                </div>
                                <div class="col-4 ps-0">
                                    <button
                                        class="coupon_apply br br-5 text-center fs-14 font-regular w-100 h-100 bg-dark cl-dark-white" id="cpnbtnn" >APPLY</button>
                                </div>
                                {% comment %} <p class="error cpnerror"><p> {% endcomment %}
                                {% comment %} <p class="text-success cpnsuccess"><p> {% endcomment %}
                            </div>
                            <input id="originprice" name="originprice" hidden />
                            <input id="hiddenuni" name="hiddenuni" hidden />
                                <button class="mx-lg-0 mx-3 mt-4 globalsubmitbutton"
                                type="submit" name="submit" id="checkout" onclick='paymentFunction(document.getElementById("hiddenuni").value,"true")'>SUBMIT</button>
                            {% comment %} </form> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section class="otherspop" id ="otherspop1">
        <div class="modal fade" id="otherspop" tabindex="-1" aria-labelledby="otherspopLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                            <h2 class="cl-dark-blue text-center fs-40  font-bold mb-3 pb-2">Patient Info</h2>
                            <div id="othersspop" >      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testdetail" id ="testdetails">
        <div class="modal fade" id="testdetaill" tabindex="-1" aria-labelledby="otherspopLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                            <div id="testdetaills">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="prescriptionbreak" id ="prescriptionbreak">
        <div class="modal fade" id="prescriptionbreaks" tabindex="-1" aria-labelledby="otherspopLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                            <div id="prescr" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%include "footer.html"%}
</body>
{% if messages %}
{% for message in messages %}
{% if message.tags == "error"%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');

    swal({
	title:'{{message}}',
	//text: "You clicked the button!",
	icon:"warning",
	button:"ok"
});
  });
</script>
{%else%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');

    swal({
	title:'{{message}}',
	//text: "You clicked the button!",
	icon:"success",
	button:"ok"
});
  });
</script>
{% endif %}
{%endfor%}
{% endif %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function(){
        
        var historycount =parseInt("{{bookinghistorylength}}");
        var paymentcount =parseInt("{{paymentcount}}");
        if(historycount!=0){
          $(".bookingh").show();  
          $("#nodataa").hide();
        }
        else{
            $(".bookingh").hide();
            $("#nodataa").show();
           // $(".bookingh").append(`<h4>No Records Found</h4>`);
        }
        if(paymentcount!=0){
            $(".paymentc").show();  
            $("#nodata").hide();
          }
          else{
              $(".paymentc").hide();
              $("#nodata").show();
             // $(".paymentc").append(`<h4>No Records Found</h4>`);
          }
    })
    function paymentFunction(ids, status){
        if (status=="false"){
            swal('Hello','You booking under review progress by our experts. Please try after sometime.If you have any queries related to booking please contact our support team +91 9769 351 301','info')
            //alert("Please wait till your prescription is viewed by our doctors.");
        }else{
            var timeslot=$("#timeslot").val();
            var date=$("#Date").val();
            var city=$("#City").val();
            var address=$("#address1").val();
            var pincode=$("#pincode").val();
            var paymentmethod=$("#paymentmethod").val();
            var coupon=$("#coupon").val();
            var amount=$("#totalprice").html();
            //console.log(paymentmethod)
            if (timeslot==null || date=='' || city==null || address=='' || pincode=='' || paymentmethod==null){
                $(".pincodeerror").html("")
                swal("", "Please update every field", "warning");
            }
            else if(pincode.length<6 || pincode.length>6){
                $(".pincodeerror").html("Please enter valid pin-code")
                //swal("", "Enter Valid pincode", "warning");
                }
            else{
                $(".pincodeerror").html("")
                $("#paymentinfo").hide()
                    if (paymentmethod=="2"){
                        $.ajax({
                            type:"POST",
                            data: {
                                action:"retreive_data",
                                id : ids,
                                timeslot:timeslot,
                                date:date,
                                city:city,
                                address:address,
                                pincode:pincode,
                                paymentmethod:paymentmethod,
                                coupon:coupon,
                                amount:amount,
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                               },
                               dataType: "json",
                               success: function(resp){
                                if(resp['valid']){
                                }
                                var amount = parseInt(resp['amount']);
                                var options = {
                                        key: resp['razorKey'],
                                        amount: amount, 
                                        currency: "INR",
                                        description: "Diagnostica Span",
                                        //image: "{% static 'img/invoice_logo.png' %}",
                                        order_id: resp["order_id"],
                                        callback_url: resp['callbackUrl'],
                                        redirect: true,
                                        theme: {
                                            "color": "#005aeb"
                                        },
                                        modal: { 
                                            escape: false,
                                            ondismiss: function()
                                            { 
                                                $.ajax({
                                                type: 'post',
                                                headers: {
                                                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
                                                },
                                                data: {
                                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                                action:"payment_canceled",
                                                obj_id:ids,
                                                order_id:resp["order_id"],
                                                },
                                                dataType: 'json',
                                                success: function (response) {
                                                    window.location.reload()
                                                    }
                                                });
                                            }
                                        },
                                    };
                                    var rzp1 = new Razorpay(options);
                                    rzp1.open();
                               }
                        });
                }
                else{
            $(".preload").css("display","block");
                    $.ajax({
                        type:"POST",
                        data:{
                            action:"COD",
                            id : ids,
                            timeslot:timeslot,
                            date:date,
                            city:city,
                            address:address,
                            pincode:pincode,
                            paymentmethod:paymentmethod,
                            amount:amount,
                            coupon:coupon,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        dataType:"json",
                        success:function(resp){
                            $(".preload").css("display","none");
                            swal("","Thank you for booking","success").then(function(){
                                window.location.reload()
                            })
                        }
                    })
                    }
                }
            }
        };
        function othersfunc(e){
        $.ajax({
            url: "{% url 'othersdetail' %}",
            type: "POST",
            dataType: "json",
            data: {
                'testid':e,
                'csrfmiddlewaretoken':'{{ csrf_token }}',
            },
            success: function(resp){
             $("#othersspop").empty();
               var detail=` <h3 class="fs-20 font-bold cl-dark-blue text-center" id="choice">To Whom : ${resp['otherschoice']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="fistname">First Name : ${resp['firstname']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="lastname">Last Name : ${resp['lastname']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="gender">Gender : ${resp['gender']}</h3>

               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="age">Age : ${resp['age']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="phone">Mobile No : ${resp['phone']}</h3>`
               $("#othersspop").append(detail);
            }
        });
}
    function testfunc(e){
    $.ajax({
        url: "{% url 'testdetails' %}",
        type: "POST",
        dataType: "json",
        data: {
            'id':e,
            'csrfmiddlewaretoken':'{{ csrf_token }}',
        },
        success: function(resp){
            console.log(resp['message'])
        var msg = resp['message'];
        var splitted_str = msg.split("/");
         $("#testdetaills").empty();
        for (let i = 0; i < splitted_str.length; i++) {
           var a= `<p>${splitted_str[i]}</p>`
           $("#testdetaills").append(a)
          }
        }
    });
}

function prescrbreak(e,totalpric){
    console.log(e)
    $.ajax({
        url: "{% url 'prescriptionbreak' %}",
        type: "POST",
        dataType: "json",
        data: {
            'id':e,
            'csrfmiddlewaretoken':'{{ csrf_token }}',
        },
        success: function(resp){
        if(!resp['coupon']){
        console.log(resp['message'])
        var msg = resp['message'];
        console.log(msg.length)
         $("#prescr").empty();
         var totall=`<h5 class="fs-20 font-bold cl-dark mb-3">Total Price - ${totalpric}</h5>`
        var sample=`Sample Collection Charges - ₹ 199.00`
        $("#prescr").append(totall)
        for (let i = 0; i < msg.length; i++) {
           var a= `<p>${msg[i].test} - ₹ ${msg[i].pricel1}</p>  `
           console.log(a)
           $("#prescr").append(a)
          }
          $("#prescr").append(sample)
        }
        else{
                var msg = resp['message'];
                console.log(msg.length)
                 $("#prescr").empty();
                 var totall=`<h5 class="fs-20 font-bold cl-dark mb-3">Total Price - ${totalpric}</h5>`
                var sample=`<p>Sample Collection Charges - ₹ 199.00</p>`
                
                var couponc=`<h5 class="fs-20 font-bold cl-dark mb-3">Coupon Code - ${resp['couponcode']}</h5>
                <div class="col-8" id="">
                    <h4 class="fs-20 font-bold cl-dark mb-3">Discount Percentage - ${resp["coupondiscount"]}%</h4>
                </div>
                <div class="col-8" id="cleardetail">
                    <h4 class="fs-20 font-bold cl-dark mb-3">Discount Price - Rs. ${resp["discountamount"]}</h4>
                </div>`
                $("#prescr").append(totall)
                for (let i = 0; i < msg.length; i++) {
                   var a= `<p>${msg[i].test} - ₹ ${msg[i].pricel1}</p>  `
                   console.log(a)
                   $("#prescr").append(a)
                  }
                  $("#prescr").append(sample)
                  if(resp["coupondiscount"]!=undefined){
                    $("#prescr").append(couponc)
                }
                 // $("#prescr").append(couponc)
        }
        }
    });
}

function unikey(e,price){
    console.log(price)
$("#hiddenuni").empty()
$("#originprice").empty()
$("#hiddenuni").val(e)
$("#totalprice").html("₹ " +price)
$("#originprice").val("₹ "+price)

}
function setAttr() {
    var d = new Date();
    var curr_date = d.getDate();
    var curr_month = d.getMonth() + 1; //Months are zero based
    if (curr_month < 10)
        curr_month = '0' + curr_month;
    if (curr_date < 10)
        curr_date = '0' + curr_date;
    var curr_year = d.getFullYear();
    var d1 = curr_year + "-" + curr_month + "-" + curr_date;
    $('#Date').attr('min', d1);
};
function couponshow(){
    $("#paymentmethod").find("option:selected").each(function(){
    var optionValue = $(this).attr("value");
    //alert(optionValue)
    if(optionValue=="2"){
        $("#coupon").attr('style',  'display:block');
    }
    if(optionValue=="1"){
        $("#coupon").attr('style',  'display:none');
    }
    })
}

//$("#coupon").focus(function(){
 //   $("#currentPassword-errorr").remove();
    
//});
    $("#cpnbtnn").click(function(){
        var coupon=$("#coupon").val();
        var total=$("#totalprice").html();
        var total2=total.split("₹ ")[1]
        var totalfloat=parseFloat(total2).toFixed(2)-199
        var uni= $("#hiddenuni").val()
      //alert()
          $.ajax({
               url: "{% url 'coupon' %}",
               type : "POST", 
               data: {
                "action":"prescription",
                "uni":uni,
                "coupon" : coupon,
                "total":totalfloat,
                "csrfmiddlewaretoken": '{{ csrf_token }}',
               },
               dataType: "json",
               success: function(resp){
                $("#cpnbtnn").prop('disabled', true);
                //alert()
                //if(resp["message"]=="exists"){
                //    $("#totalprice").html(total);
                //    //var h4 =`<h4 class="fs-30 font-bold cl-dark-blue" id="total"> ${b}</h4>`;
                //  swal("", "Coupon Already Applied", "info")
                //}
                if (!resp['message']){
                    // alert("Invalid Coupon")
                    $("#totalprice").html(total);
                    //var h4 =`<h4 class="fs-30 font-bold cl-dark-blue" id="total"> ${b}</h4>`;
                    var err=`<p class="error cpnerror">Please Enter valid Coupon Code<p>`
                    $("#cpndesc").append(err)
                        //$(".cpnerror").html("Please Enter valid Coupon Code")
                    //swal("Invalid Coupon", "Please Enter valid Coupon Code", "error")
               }
               else if(resp["message"]=="exists"){
                $("#totalprice").html(total);
                //var h4 =`<h4 class="fs-30 font-bold cl-dark-blue" id="total"> ${b}</h4>`;
                //$(".cpnerror").html("Coupon Already Applied")
                var err=`<p class="error cpnerror">Coupon Already Applied<p>`
                $("#cpndesc").append(err)
                //swal("", "Coupon Already Applied", "info")
               }
               else{
                //alert(resp['total'])
                $("#totalprice").html("₹ "+resp['total']+".00");
                var succe=`<p class="text-success cpnsuccess">Coupon Applied<p>
                    <div id="cpnbreak">
                    <div class="col-8" id="">
                        <h4 class="fs-20 font-bold cl-dark-blue mb-3">Discount Percentage - ${resp["percent"]}%</h4>
                    </div>
                    <div class="col-8" id="cleardetail">
                        <h4 class="fs-20 font-bold cl-dark-blue mb-3">Discount Price - Rs. ${resp["discount"]}</h4>
                    </div>
                    <div>
                    `
                    $("#cpndesc").append(succe)
                //$(".cpnsuccess").html("Coupon Applied")
               }
            }
           });
      });
function coupRemove(){
    total=$("#originprice").val()
 $.ajax({
     url: "{% url 'couponsessiondelete' %}",
     type: "GET",
     dataType: "json",
     success: function(resp){
        $("#cpnbtnn").prop('disabled', false);
        $(".cpnerror").html("")
        $(".cpnsuccess").html("")
        $("#cpnbreak").html("")
        $("#totalprice").html(total);
        //window.location.reload();
     }
 });
 //window.location.reload()
}
$("#checkoutinfoclose").click(function(){
 window.location.reload()
    //$('#paymentinfo1').find('input:text').val('');   
})
$(document).ready(function(){
    $("#paymentinfo1").modal({
     backdrop: 'static',
    keyboard: false
 });
})
</script>
{%endblock%}
