{% extends "index.html" %}
{% load static %}
{%block content%}
<body>
    {% include "header.html"%}
    <section class="sub_header py-xl-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ">
                        <p class="m-0 fs-18 font-regular cl-dark-blue opc-5 pe-1 sub_nav_bar"><a
                                href="{%url "home"%}">Home</a></p>
                        /
                        <p class="m-0 fs-18 font-regular cl-dark-blue ps-1 sub_nav_bar">Booking History</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_booking_history pb-5 mb-5" >
        <div class="container">
            {% comment %} {% if messages %}
            
            {% for msg in  messages %}
            <center>{{msg}}</center>
            {% endfor %}

            {% endif %} {% endcomment %}
            <div class="row">
                <div class="col-lg-12">
                    <div class=" bg-light-grey py-4 py-lg-0 br-15">
                        <div class="row ">
                            <div class="col-xxl-10 col-lg-12 mx-auto justify-content-between ">
                                <ul class="nav nav-pills mb-lg-3 mb-3 justify-content-evenly" id=" pills-tab"
                                    role="tablist">
                                    <li class="nav-item py-xxl-5 py-xl-5 py-lg-4 br" role="presentation">
                                        <button class=" nav-links br fs-25 font-bold tad_button bg-light-grey active"
                                            id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                                            type="button" role="tab" aria-controls="pills-home"
                                            aria-selected="true">Booking history </button>
                                    </li>
                                    <li class="nav-item py-xxl-5 py-xl-5 py-lg-4  br" role="presentation">
                                        <button class="nav-links br fs-25 font-bold tad_button bg-light-grey"
                                            id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                                            type="button" role="tab" aria-controls="pills-profile"
                                            aria-selected="false">Payment History</button>
                                    </li>
                                    <li class="nav-item py-xxl-5 py-xl-5 py-lg-4  br" role="presentation">
                                        <button class="nav-links br fs-25 font-bold tad_button bg-light-grey"
                                            id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                                            type="button" role="tab" aria-controls="pills-contact"
                                            aria-selected="false">Medications</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 px-lg-5 px-3">
                                <div class="tab-content" id="pills-tabContent">
                                    
                                    <div class="pb-lg-5 pb-3 tab-pane fade show active " id="pills-home" role="tabpanel"
                                        aria-labelledby="pills-home-tab" tabindex="0">
                                        <h1 class="text-center fs-30 font-bold cl-dark-blue mb-4" id="nodataa">No Record Found...</h1>
                                        <table class="bookingh" id ="bookinghistorytable">
                                            <thead>
                                                <tr>
                                                    <td class="t_head" scope="col">ID</td>
                                                    <td class="t_head" scope="col">Date</td>
                                                    <td class="t_head" scope="col">Patient Info</td>
                                                    <td class="t_head" scope="col">Booking Type</td>
                                                    {% comment %} <td class="t_head" scope="col">Prescription</td> {% endcomment %}
                                                    <td class="t_head" scope="col">Booking Details</td>
                                                    <td class="t_head" scope="col">Amount</td>
                                                    <td class="t_head" scope="col">Payment Status</td>
                                                    {% comment %} <td class="t_head" scope="col">Status</td> {% endcomment %}
                                                    <td class="t_head" scope="col">Report</td>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for bookhistory in bookhistories %}
                                           
                                                <tr>
                                                    {% if bookhistory.bookingid == None %}
                                                    <td data-label="ID">-

                                                       
                                                    </td>
                                                     {%else%}
                                                     <td data-label="ID">{{bookhistory.bookingid}}
                                                    </td>
                                                    {%endif%}
                                                    <td data-label="Date">{{bookhistory.created}}</td>
                                                   
                                                    {%if bookhistory.patient_info == "others" %}
                                                    <td data-label="Patient Info"><a id="otherspop1" data-bs-toggle="modal" data-bs-target="#otherspop" class="br bg-dark-white cursor" onclick='othersfunc("{{bookhistory.uni}}")';>{{bookhistory.patient_info}}</a></td>
                                                    {%else%}
                                                    <td data-label="Patient Info">{{bookhistory.patient_info}}</td>
                                                    {%endif%}
                                                    <td data-label="Booking Type">{{bookhistory.booking_type}}</td>
                                                    
                                                    {% if bookhistory.prescription %}
                                                    <td data-label="Booking Details"><a  target="blank" href="{{ bookhistory.prescription.url}}">{{bookhistory.bookingdetails|truncatechars:10}}</a></td>
                                                    {% else %}
                                                    <td data-label="Booking Details"><a id="testdetails" name="{{bookhistory.id}}" data-bs-toggle="modal" data-bs-target="#testdetaill" class="br bg-dark-white cursor" onclick='testfunc({{bookhistory.id}})';>{{bookhistory.bookingdetails|truncatechars:10}}</a></td>
                                                    {% endif %}
                                                    

                                                    {%if bookhistory.amount == None%}
                                                        <td data-label="Amount">-</td>
                                                    {%elif bookhistory.prescription%}
                                                        <td data-label="Amount">₹ {{bookhistory.amount}}<i  id ="prescriptiontest" data-bs-toggle="modal" data-bs-target="#prescriptionbreaks" class="fa fa-info br-5 cursor" aria-hidden="true" style="text-align:center;background:#d5e6f7; padding:5px 9px;margin-left:5px " onclick='prescrbreak("{{bookhistory.uni}}")'></i></td>
                                                    {%else%}
                                                    <td data-label="Amount">₹ {{bookhistory.amount}}</td>
                                                    {%endif%}

                                                    {%if not bookhistory.payment_status%}
                                                        <td data-label="Payment Status">Not paid</td>
                                                    {%else%}
                                                        <td data-label="Payment Status">Paid</td>
                                                    {%endif%}
                                                    {% comment %} <td data-label="Status">On Process</td> {% endcomment %}
                                                    {%if  bookhistory.payment_status == False%}
                                                    <td data-label="Report"><button
                                                            class="br br-5 fs-16 font-bold bg-dark-green cl-dark-white download text-center paynow-btn" 
                                                            {% if bookhistory.amount == None %}
                                                            onclick='paymentFunction("{{bookhistory.uni}}", "false")';
                                                            {% else %}onclick='paymentFunction("{{bookhistory.uni}}", "true")';{% endif %}id="testbooking{{bookhistory.testbooking_id}}">Pay Now</button>
                                                    </td>
                                                    {%else%}
                                                    {%if bookhistory.report %}
                                                    <td data-label="Report" class="d-flex justify-content-between">
                                                        <a href="{{bookhistory.report.url}}"
                                                        class="" download><button style="padding-left:20px; padding-right:20px;" class="py-2 br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue"><i class="fa fa-download" aria-hidden="true"></i></button></a>
                                                        <a data-bs-toggle="modal" data-bs-target="#social_report_share"
                                                        class="" download><button onclick="reportsharee('{{bookhistory.report.url}}')"style="padding-left:20px; padding-right:20px" class="py-2 br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue"><i class="fa fa-share-square-o" aria-hidden="true"></i></button></a>
                                                </td>
                                                    {% else %}
                                                    <td data-label="Report">
                                                        <a href="#"
                                                        class=""><button class="download br br-5 fs-16 font-bold bg-sky-blue cl-dark-white  text-center accent-blue">No File</button></a>
                                                    {% endif %}
                                                    {%endif%}
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% comment %} table end {% endcomment %}
                                    
                                    <div class="tab-pane fade pb-5 " id="pills-profile" role="tabpanel"
                                        aria-labelledby="pills-profile-tab" tabindex="0">
                                        <h1 class="text-center fs-30 font-bold cl-dark-blue mb-4" id="nodata">No Record Found...</h1>
                                        <table class="paymentc">
                                            <thead>
                                                <tr>
                                                    <td class="t_head" scope="col">Payment ID</td>
                                                    <td class="t_head" scope="col">Booking ID</td>
                                                    <td class="t_head" scope="col">Date</td>
                                                    {% comment %} <td class="t_head" scope="col">Payment</td> {% endcomment %}
                                                    <td class="t_head" scope="col">Amount</td>
                                                    <td class="t_head" scope="col">Invoice</td>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {%for payment in payments%}
                                                <tr>
                                                    <td data-label="Payment ID">{{payment.paymentid}}</td>
                                                    <td data-label="Booking ID">{{payment.booking_id}}</td>
                                                    <td data-label="Date">{{payment.date}}</td>
                                                    {% comment %} <td data-label="Payment">My Self</td> {% endcomment %}
                                                    <td data-label="Amount">₹ {{payment.amount|floatformat:2}}</td>
                                                    <td data-label="Invoice"><a href="{% url "invoice" payment.transid %} " target="_blank"
                                                            class=""><button class="br br-5 fs-16 font-bold bg-dark-green cl-dark-white download text-center">Invoice</button></a>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade pb-5" id="pills-contact" role="tabpanel"
                                        aria-labelledby="pills-contact-tab" tabindex="0">
                                        {% comment %} <h1 class="text-center fs-30 font-bold cl-dark-blue mb-4">No Record Found...</h1> {% endcomment %}
                                        <button data-bs-toggle="modal" data-bs-target="#mediation_modal" class="px-5 py-2 bg-sky-blue br-5 fs-18 mb-2 cl-dark-white br" type="submit" value="submit">Add Medication</button>
                                
                                        <table class="medicationss" >
                                            <thead>
                                                <tr class="text-center">
                                                    <td class="t_head text-center" scope="col">Sl No</td>
                                                    <td class="t_head text-lg-center" scope="col">Medicine Name</td>
                                                    <td class="t_head text-lg-center" scope="col">Morning</td>
                                                    <td class="t_head text-lg-center" scope="col">Afternoon</td>
                                                    <td class="t_head text-lg-center" scope="col">Evening</td>
                                                    <td class="t_head text-lg-center" scope="col">Night</td>
                                                    {% comment %} <td class="t_head text-lg-center" scope="col">Date</td> {% endcomment %}
                                                    <td class="t_head text-lg-center" scope="col">Action</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for medic in medics%}
                                                <tr>
                                                    <td class="text-lg-center" data-label="Tablet Name">{{forloop.counter}}</td>
                                                    <td class="text-lg-center" data-label="Tablet Name">{{medic.medic}}</td>
                                                     {%if medic.morning == True %} 
                                                     <td class="text-lg-center" data-label="Morning"><i class="fa fa-check" aria-hidden="true"></i></td>
                                                     {%else%}
                                                    <td class="text-lg-center" data-label="Morning">-</td>
                                                    {%endif%} 

                                                    {%if medic.afternoon == True %} 
                                                     <td class="text-lg-center" data-label="Afternoon"><i class="fa fa-check" aria-hidden="true"></i></td>
                                                     {%else%}
                                                    <td class="text-lg-center" data-label="Afternoon">-</td>
                                                    {%endif%} 


                                                    {%if medic.evening == True %}
                                                     <td class="text-lg-center" data-label="Evening"><i class="fa fa-check" aria-hidden="true"></i></td>
                                                     {%else%}
                                                    <td class="text-lg-center" data-label="Evening">-</td>
                                                    {%endif%} 
                                                    {%if medic.night == True %}
                                                     <td class="text-lg-center" data-label="Night"><i class="fa fa-check" aria-hidden="true"></i></td>
                                                     {%else%}
                                                    <td class="text-lg-center" data-label="Night">-</td>
                                                    {%endif%} 
                                                    {% comment %} <td class="text-lg-center" data-label="morning"><input class="" type="checkbox"  disabled/></td>
                                                    <td class="text-lg-center" data-label="Afternoon"><input class="" type="checkbox"  disabled/></td>
                                                    <td class="text-lg-center" data-label="Evening"><input class="" type="checkbox" disabled/></td>
                                                    <td class="text-lg-center" data-label="Night"><input class="" type="checkbox"  disabled/></td> {% endcomment %}
                                                    {% comment %} <td class="text-lg-center" data-label="Date">16/11/2022</td> {% endcomment %}
                                                    {% comment %} <td class="text-lg-center" data-label="Delete"><button class="br" onclick="deletefunc('{{medic.id}}')"><i class="fa fa-trash-o cursor "  style="font-size:21px; color:red" aria-hidden="true"></i></button></td> {% endcomment %}

                                                    <td  data-label="Delete">
                                                        <div class="text-lg-center d-flex justify-content-lg-center justify-content-end">
                                                            <button class="br" style="background:none" onclick="medicoinfo('{{medic.id}}')"><i style="font-size:21px; color:#5c62ce" data-bs-toggle="modal" data-bs-target="#mediation_update_modal" class="fa fa-pencil cursor px-2" aria-hidden="true"></i></button>
                                                            <button class="br"  style="background:none" onclick="deletefunc('{{medic.id}}')">  <i style="font-size:21px; color:red" class="fa fa-trash-o cursor px-2" aria-hidden="true"></i></button>
                                                        <div>
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <section class="social_report_share">
        <div class="modal fade" id="social_report_share" tabindex="-1" aria-labelledby="social_report_shareLabel"
        aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content p-2">
                <div class="modal-body">
                    <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
                        <h2 class="cl-dark-blue text-center fs-40  font-bold">Share</h2>
                        <div class="icon-box">
                            <div class="box">
                                <a id="whatsappshare" href="" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                {% comment %} <i class="fa fa-whatsapp" aria-hidden="true"></i> {% endcomment %}
                            </div>
                            <div class="box">
                                <a id="gmailshare" href="" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                {% comment %} <i class="fa fa-envelope-o" aria-hidden="true"></i> {% endcomment %}
                            </div>
                            <div class="box">
                                <a id="smsshare" href="https://web.whatsapp.com/send?text=hello" target="_blank"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                                {% comment %} <i class="fa fa-comments-o" aria-hidden="true"></i> {% endcomment %}
                            </div>
                            <div class="box">
                                <a id="copy" onclick="myFunction()" ><i class="fa fa-clone" aria-hidden="true"></i></a>
                                {% comment %} <i class="fa fa-clone" aria-hidden="true"></i> {% endcomment %}
                            </div>
                        </div>
                        <div class="pt-3">
                            <input class="w-100  form_input" placeholder="Copy Link" name="" id="copyshare" type="text" maxlength="250" >
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    </section>
    <section class="section_mediation_modal">
        <div class="modal fade" id="mediation_modal" tabindex="-1" aria-labelledby="mediation_modal-Label"
        aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content p-sm-2">
                <div class="modal-body">
                    <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                    <form action="javascript:void(0)" method='post' id="medicofrom">
                        {%csrf_token%}
                      
                       
                    <h2 class="cl-dark-blue text-center fs-40  font-bold ">Medication</h2>
                    <div>
                        <label>Medicine Name</label>
                        <input class="w-100  form_input" placeholder="Medicine Name" name="medico" id="medico" type="text" maxlength="250"  >
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tab_morning" id="tabmorning"/>
                        <label class="cursor" for="tabmorning">Morning</label>
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tab_afternoon" id="tabafternoon"/>
                        <label class="cursor" for="tabafternoon">Afternoon</label>
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tab_evening" id="tabevening"/>
                        <label class="cursor" for="tabevening">Evening</label>
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tab_night" id="tabnight"/>
                        <label class="cursor" for="tabnight">Night</label>
                    </div>
                   
                    <p class="myCheckBox" id="myCheckBox" style="color:red"></p>
                    <div class="text-center">
                    <button class="px-5 py-2 bg-sky-blue br-5  fs-18  cl-dark-white br mt-2" type="submit" id="medication"
                    value="submit">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </section>


    
    <section class="section_update_mediation_modal">
        <div class="modal fade" id="mediation_update_modal" tabindex="-1" aria-labelledby="mediation_update_modal-Label"
        aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content p-sm-2">
                <div class="modal-body">
                    <form id="update_med_Form">
                        {%csrf_token%}
                    <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                    <h2 class="cl-dark-blue text-center fs-40  font-bold ">Update Medication</h2>
                    {% comment %} {%for medic in medics%} {% endcomment %}
                    <input class="w-100  form_input" placeholder="" name="medicid" type="hidden" maxlength="250" id="medicid"  />
                    <div>
                        <label >Medicine Name</label>
                        <input class="w-100  form_input" placeholder="Medicine Name" name="update_name" type="text" maxlength="250" id="medicoupdate" />
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tabmorningupdate" id="tabmorningupdate"/>
                        <label class="cursor" for="tabmorningupdate">Morning</label>
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tabafternoonupdate"id="tabafternoonupdate"/>
                        <label class="cursor" for="tabafternoonupdate">Afternoon</label>
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tabeveningupdate" id="tabeveningupdate"/>
                        <label class="cursor" for="tabeveningupdate">Evening</label>
                    </div>
                    <div  class="pt-2">
                        <input class="cursor me-2" type="checkbox" name="tabnightupdate" id="tabnightupdate"/>
                        <label class="cursor" for="tabnightupdate">Night</label>
                    </div>
                    <p class="myCheckBoxUpdate" id="myCheckBoxUpdate" style="color:red"></p>
                    <div class="text-center">
                        <button class="px-5 py-2 bg-sky-blue br-5  fs-18  cl-dark-white br mt-2" type="submit"
                    value="submit" id="checkBtnUpdate">Update</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="otherspop" id ="otherspop1">
        <div class="modal fade" id="otherspop" tabindex="-1" aria-labelledby="otherspopLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                            <h2 class="cl-dark-blue text-center fs-40  font-bold mb-3 pb-2">Patient Info</h2>
                            <div id="othersspop" >      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testdetail" id ="testdetails">
        <div class="modal fade" id="testdetaill" tabindex="-1" aria-labelledby="otherspopLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        
                            <div id="testdetaills" >
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="prescriptionbreak" id ="prescriptionbreak">
        <div class="modal fade" id="prescriptionbreaks" tabindex="-1" aria-labelledby="otherspopLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                            <div id="prescr" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%include "footer.html"%}
</body>
{% if messages %}
{% for message in messages %}
{% if message.tags == "error"%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');

    swal({
	title:'{{message}}',
	//text: "You clicked the button!",
	icon:"warning",
	button:"ok"
});
  });
</script>
{%else%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');

    swal({
	title:'{{message}}',
	//text: "You clicked the button!",
	icon:"success",
	button:"ok"
});
  });
</script>
{% endif %}
{%endfor%}
{% endif %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $(document).ready(function(){
        
        var historycount =parseInt("{{bookinghistorylength}}");
        var paymentcount =parseInt("{{paymentcount}}");
        if(historycount!=0){
          $(".bookingh").show();  
          $("#nodataa").hide();
        }
        else{
            $(".bookingh").hide();
            $("#nodataa").show();
           // $(".bookingh").append(`<h4>No Records Found</h4>`);
        }
        if(paymentcount!=0){
            $(".paymentc").show();  
            $("#nodata").hide();
          }
          else{
              $(".paymentc").hide();
              $("#nodata").show();
             // $(".paymentc").append(`<h4>No Records Found</h4>`);
          }
    })
    function paymentFunction(ids, status){
        if (status=="false"){
            swal('Hello','You booking under review progress by our experts. Please try after sometime.If you have any queries related to booking please contact our support team +91 9769 351 301','info')
            //alert("Please wait till your prescription is viewed by our doctors.");
            
        }else{
            $.ajax({
                type:"POST",
                data: {
                    action:"retreive_data",
                    id : ids,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                   },
                   dataType: "json",
                   success: function(resp){
                    
                    if(resp['valid']){
                    }
                    var amount = parseInt(resp['amount']);
                    var options = {
                            key: resp['razorKey'],
                            amount: amount, 
                            currency: "INR",
                            description: "Diagnostica Span",
                            //image: "{% static 'img/invoice_logo.png' %}",
                            order_id: resp["order_id"],
                            callback_url: resp['callbackUrl'],
                            redirect: true,
                            theme: {
                                "color": "#005aeb"
                            },
                            modal: { 
                                escape: false,
                                ondismiss: function()
                                { 
                                    $.ajax({
                                    type: 'post',
                                    headers: {
                                        'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
                                    },
                                    data: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    action:"payment_canceled",
                                    obj_id:ids,
                                    order_id:resp["order_id"],
                                    },
                                    dataType: 'json',
                                    success: function (response) {
                                    }
                                    });
                                }
                            },
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                   }
            });
        }
        
        

    };

        function othersfunc(e){
      
        $.ajax({
            url: "{% url 'othersdetail' %}",
            type: "POST",
            dataType: "json",
            data: {
                'testid':e,
                'csrfmiddlewaretoken':'{{ csrf_token }}',
            },
            success: function(resp){
             $("#othersspop").empty();
             
               var detail=` <h3 class="fs-20 font-bold cl-dark-blue text-center" id="choice">To Whom : ${resp['otherschoice']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="fistname">First Name : ${resp['firstname']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="lastname">Last Name : ${resp['lastname']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="gender">Gender : ${resp['gender']}</h3>

               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="age">Age : ${resp['age']}</h3>
               <h3 class="fs-20 font-bold cl-dark-blue text-center" id="phone">Mobile No : ${resp['phone']}</h3>`
               $("#othersspop").append(detail);
               
            }
        });
}
    function testfunc(e){
    $.ajax({
        url: "{% url 'testdetails' %}",
        type: "POST",
        dataType: "json",
        data: {
            'id':e,
            'csrfmiddlewaretoken':'{{ csrf_token }}',
        },
        success: function(resp){
            console.log(resp['message'])
        var msg = resp['message'];
        var splitted_str = msg.split("/");
         $("#testdetaills").empty();
        for (let i = 0; i < splitted_str.length; i++) {
           var a= `<p>${splitted_str[i]}</p>`
           $("#testdetaills").append(a)
          }
        }
    });
}

function prescrbreak(e){
   
    $.ajax({
        url: "{% url 'prescriptionbreak' %}",
        type: "POST",
        dataType: "json",
        data: {
            'id':e,
            'csrfmiddlewaretoken':'{{ csrf_token }}',
        },
        success: function(resp){
            console.log(resp['message'])
            
        var msg = resp['message'];
        
        console.log(msg.length)
         $("#prescr").empty();
        for (let i = 0; i < msg.length; i++) {
           var a= `<p>${msg[i].test}-₹ ${msg[i].pricel1}</p>  `
           console.log(a)
           $("#prescr").append(a)
          }
        }
    });
}

/*$("#medicofrom").on("submit", function (e) {

    var datafrom = $('#medicofrom').serialize();
    $.ajax({
        url: "{% url 'medicationpost' %}",
        type: "POST",
        dataType: "json",
        data: datafrom,
        success: function (resp) {
            $("#medico").val('');
            if (!resp["message"]){
                swal("Something Went Wrong", "Try Again", "warning");
                //alert("Already Subscribed Thank you!!")
            }
            else{
                window.location.reload()
            }
        }
    });       
})*/
function reportsharee(e){
    console.log(e)
    link=window.location.origin+e
    whatsapplink="https://web.whatsapp.com/send?text="+link
    gmaillink=`https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=Diagnostica+Span+Report&body=+${link}+&ui=2&tf=1&pli=1`
    //sms=`sms:${link}`
    sms= `sms:8105486993?body=${link}`
    //gmaillink="https://gmail.com/send?body="+link
    console.log(gmaillink)
    
    $("#copyshare").val(link)
    $("#whatsappshare").attr("href",whatsapplink)
    $("#gmailshare").attr("href",gmaillink)
    $("#smsshare").attr("href",sms)


    }
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("copyshare");
        
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */
      
         /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
      
        /* Alert the copied text */
        //alert("Copied the text: " + copyText.value);
      }
function deletefunc(e){
    //  $("#delete").on("click", function(e){ 
                $.ajax({
                    url: "{% url 'medicationdelete' %}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        'action':'forsession',
                        'pk':e,
                        'csrfmiddlewaretoken':'{{ csrf_token }}',
                    },
                    success: function(resp){
                       window.location.reload();
                    }
                });
            return false;
     
    }

function medicoinfo(e){
   
            $.ajax({
                url: "{% url 'medicationinfo' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'action':'forsession',
                    'pk':e,
                    'csrfmiddlewaretoken':'{{ csrf_token }}',
                },
                success: function(resp){
                    //alert(resp[medic])
                    console.log(resp)
                    console.log(resp['medic'])
                    $("#tabmorningupdate").prop("checked", false)
                    $("#tabafternoonupdate").prop("checked", false)
                    $("#tabeveningupdate").prop("checked", false)
                    $("#tabnightupdate").prop("checked", false)

                  $("#medicoupdate").val(resp['medic']); 
                  $("#medicid").val(resp['id']);
                    if (resp['morning']){
                        $("#tabmorningupdate").prop("checked", true)
                    }
                    if (resp['afternoon']){
                        $("#tabafternoonupdate").prop("checked", true)
                    }
                    if (resp['evening']){
                        $("#tabeveningupdate").prop("checked", true)
                    }
                    if (resp['night']){
                        $("#tabnightupdate").prop("checked", true)
                    }
                }
            });
        
        return false;
        }
jQuery.validator.addMethod("name_regex", function (value, element) {
    return this.optional(element) || /^[a-zA-z\.\-_]{1,30}$/i.test(value);
}, "Enter valid name");
$.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param)
}, 'File size must be less than {0}');
$("#medicofrom").validate({
    rules: {

        'medico': {
            required: true,
            minlength: 1,
        },
    },

    messages: {

        'medico': {
            required: "This field is required."
        },
    },
    submitHandler: function (form) {
        //form.submit();
        var datafrom = $('#medicofrom').serialize();
        $.ajax({
            url: "{% url 'medicationpost' %}",
            type: "POST",
            dataType: "json",
            data: datafrom,
            success: function (resp) {
                $("#medico").val('');
                if (!resp["message"]){
                    swal("Something Went Wrong", "Try Again", "warning");
                    //alert("Already Subscribed Thank you!!")
                }
                else{
                    window.location.reload()
                }
            }
        }); 
    }
});

$("#tabmorning").change(function() {
    $("#myCheckBox").text("");
});
$("#tabafternoon").change(function() {
    $("#myCheckBox").text("");
});
$("#tabevening").change(function() {
    $("#myCheckBox").text("");
});
$("#tabnight").change(function() {
    $("#myCheckBox").text("");
});

$(document).ready(function () {
    $('#medication').click(function() {
      checked = $("input[type=checkbox]:checked").length;
      if(!checked) {
        $("#myCheckBox").text("You must check at least one checkbox.");
        return false;
      }else{
        $("#myCheckBox").text("");
      }

    });
});


jQuery.validator.addMethod("name_regex", function (value, element) {
    return this.optional(element) || /^[a-zA-z\.\-_]{1,30}$/i.test(value);
}, "Enter valid name");
$.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param)
}, 'File size must be less than {0}');
$("#update_med_Form").validate({
    rules: {

        'update_name': {
            required: true,
            minlength: 1,
        },
    },

    messages: {

        'update_name': {
            required: "This field is required."
        },
    },
    submitHandler: function (form) {
        var datafrom = $('#update_med_Form').serialize();
        $.ajax({
            url: "{% url 'medicupdate' %}",
            type: "POST",
            dataType: "json",
            data: datafrom,
            success: function (resp) {
                $("#medico").val('');
                if (!resp["message"]){
                    swal("Something Went Wrong", "Try Again", "warning");
                    //alert("Already Subscribed Thank you!!")
                }
                else{
                    window.location.reload()
                }
            }
        });

    }
});

$("#tabmorningupdate").change(function() {
    $("#myCheckBoxUpdate").text("");
});
$("#tabafternoonupdate").change(function() {
    $("#myCheckBoxUpdate").text("");
});
$("#tabeveningupdate").change(function() {
    $("#myCheckBoxUpdate").text("");
});
$("#tabnightupdate").change(function() {
    $("#myCheckBoxUpdate").text("");
});

$(document).ready(function () {
    $('#checkBtnUpdate').click(function() {
      checked = $("input[type=checkbox]:checked").length;

      if(!checked) {
        $("#myCheckBoxUpdate").text("You must check at least one checkbox.");
        return false;
      }else{
        $("#myCheckBoxUpdate").text("");
      }

    });
   
});

</script>
{%endblock%}
