
{%include "header.html"%}
{%include "subheader.html"%}
{%load static %}
<body>

    <section class="section_book-test-online pb-5">
        <div class="container">
            <div class="row">
                <diV class="col-lg-12">
                    <div class="bg-light-grey px-3">
                        <div class="row">
                            <div class="col-lg-11 col-md-12 mx-auto py-lg-5">
                                <div class="row">
                                    <div class="px-xl-4 col-lg-6 mx-auto py-4">
                                        <div class="bg-sky-blue br-15 px-5 py-4 text-center ">
                                            <h2 class="cl-dark-white fs-40  font-bold mb-3 pb-2">Upload Prescription
                                            </h2>
                                            <p class="cl-dark-white fs-18  font-regular">Lorem Ipsum is simply dummy
                                                text of the printing and typesetting industry.</p>
                                            <a href="{% url "prescription-upload"%}"> <img
                                                    src="{%static "images/uploadprescription.png"%}" alt=""
                                                    class="img-fluid mb-2" /></a>
                                            <br>
                                            <a href="uploadprescriptions.html"
                                                class="cl-dark-white fs-14 font-bold lh-10">Upload Here</a>
                                        </div>
                                    </div>

                                    <div class="px-xl-4 col-lg-6 mx-auto py-4 opc-5">
                                        <div class="bg-dark-green br-15 px-5 py-4 text-center ">
                                            <h2 class="cl-dark-white fs-40  font-bold mb-3 pb-2">Choose Test Lists
                                            </h2>
                                            <p class="cl-dark-white fs-18  font-regular ">Lorem Ipsum is simply dummy
                                                text of the printing and typesetting industry.</p>
                                            <a>
                                                <div class="pb-4"> <button
                                                        class="bg-dark-orange px-4 py-3 fs-18 font-bold cl-dark-blue br-50 br mb-2">CHOOSE
                                                        HERE
                                                    </button></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-11 mx-auto choose_test_header">
                                        {% comment %} <form method="get" action="{%url "search"%}" >
                                            {% csrf_token%} {% endcomment %}
                                        <div class="row">
                                           
                                            <div class="col-lg-5 col-sm-6 position-relative py-4">
                                                <input class="w-100 br br-5" id="searched" placeholder="Search" name="searched" />
                                                {% comment %} <button  type="submit"class="br">  <i class="fa fa-search test-list-search" aria-hidden="true"></i></button> {% endcomment %}
                                            </div>
                                        {% comment %} </form> {% endcomment %}
                                            <div class="col-lg-5 col-sm-6 position-relative py-4">
                                                <select
                                                    class="br-5 cl-dark-blue fs-22 form-select br select_option"
                                                    type="select" name="" id="category">
                                                    <option selected="selected" class="opc-5" disabled>Select Category
                                                    </option>
                                                    
                                                    {%for category in categories%}
                                                    <option  value={{category.id}}>{{category.categoryy}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div id="main-test-div">
                                        {%for test in tests%}
                                        
                                        <div class="bg-white br-5 px-4 py-3 mt-2">
                                            <h5 class="fs-20 font-regular cl-dark-blue ">{{test.testt}}</h5>
                                            <div class="row">
                                                <div class="col-xl-6 col-md-6 test-list">
                                                    <p> {{test.description}} </p>
                                                </div>
                                                
                                                {%if city == "Bangalore" %}
                                                <div class="col-xl-3 col-md-2 test-list-price">
                                                    <p>{{test.pricel1}}</p>
                                                </div>
                                                {%elif city == "Chennai" %}
                                                <div class="col-xl-3 col-md-2 test-list-price">
                                                    <p>{{test.pricel2}}</p>
                                                </div>
                                                {%elif city == "Mumbai" %}
                                                <div class="col-xl-3 col-md-2 test-list-price">
                                                    <p>{{test.pricel3}}</p>
                                                </div>
                                                {%elif city == "Delhi" %}
                                                <div class="col-xl-3 col-md-2 test-list-price">
                                                    <p>{{test.pricel4}}</p>
                                                </div>
                                                {%endif%}
                                                <div class="col-xl-3 col-md-4 test-list-button"><button id="addtocart"
                                                      name={{test.id}}  class="bg-sky-blue br br-5 cl-dark-white px-5 py-3" onclick=myfunction("{{test.id}}")>Add to
                                                        Cart</button></div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                    </div>
                                    </div>
                                    <div class="text-center py-4 test-list-load-button">
                                        <button class="py-3 px-5 br br-30 bg-dark-orange  fs-18 font-bold">Load
                                            More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </diV>
            </div>
        </div>
    </section>
    {%include "footer.html"%}
</body>
<script>
    function toggleMenu() {
        var menuBox = document.getElementById('menu-box');

        if (menuBox.style.display == "block") {
            menuBox.style.display = "none";
        }
        else {
            menuBox.style.display = "block";
        }
    }
    $.validator.addMethod('filesize', function (value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
    }, 'File size must be less than {0}');
    $("#subscribes").validate({
        rules: {
            'email': {
                required: true,
                email: true
            },
        },

        messages: {
            'email': {
                required: "Enter email ID",
                email: "Enter valid email ID"
            },
        },
        submitHandler: function (form) {
            form.submit();
        }
    });

    $("#category").on("change", function(e){
        var idd = $(this).val();
        
            $.ajax({
                url: "{% url 'category' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'pk':idd,
                    'csrfmiddlewaretoken':'{{ csrf_token }}',
                },
                success: function(resp){
                    $("#main-test-div").empty();
                   for(var i=0; i<resp.length ; i++){
                    console.log(resp[i]["id"]);
                    
                    var divs = `<div class="bg-white br-5 px-4 py-3 mt-2">
                        <h5 class="fs-20 font-regular cl-dark-blue ">${resp[i]['testt']}</h5>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 test-list">
                                <p>${resp[i]['description']} </p>
                            </div>
                            <div class="col-xl-3 col-md-2 test-list-price">
                                <p>${resp[i]['pricel1']}</p>
                            </div>
                            <div class="col-xl-3 col-md-4 test-list-button"><button id="addtocart"
                                    name=${resp[i]['id']} class="bg-sky-blue br br-5 cl-dark-white px-5 py-3">Add to
                                    Cart</button></div>
                        </div>
                    </div>`;
                    $("#main-test-div").append(divs);

                   }
                  
                }
            });
        

    });


    $("#searched").on("change", function(e){

        var searched = $(this).val();
        
            $.ajax({
                url: "{% url 'search' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'searched':searched,
                    'csrfmiddlewaretoken':'{{ csrf_token }}',
                },
                success: function(resp){
                    $("#main-test-div").empty();
                   for(var i=0; i<resp.length ; i++){
                    console.log(resp[i]['id']);
                    
                    var divs = `<div class="bg-white br-5 px-4 py-3 mt-2">
                        <h5 class="fs-20 font-regular cl-dark-blue ">${resp[i]['testt']}</h5>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 test-list">
                                <p>${resp[i]['description']} </p>
                            </div>
                            <div class="col-xl-3 col-md-2 test-list-price">
                                <p>${resp[i]['pricel1']}</p>
                            </div>
                            <div class="col-xl-3 col-md-4 test-list-button"><button id="addtocart"
                                name=${resp[i]['id']} class="bg-sky-blue br br-5 cl-dark-white px-5 py-3">Add to
                                    Cart</button></div>
                        </div>
                    </div>`;
                    $("#main-test-div").append(divs);

                   }
                  
                }
            });
    });
   
    /*$("#addtocart").each(function(index){
        e.preventDefault();
        alert(index);
        $(this).click(function(){
            alert("clicked");
        });
});


    $("#addtocart").on("click", function(e){
        alert();
            $("#addtocart").each(function(index){
                alert(index);
        });
      });*/

     /* $("#addtocart").on("click", function(e){   
        var idd = $(this).attr('name');
        alert(idd);

            $.ajax({
                url: "{% url 'addtocart' %}",
                type: "POST",
                dataType: "json",
                data: {
                    'pk':idd,
                    'csrfmiddlewaretoken':'{{ csrf_token }}',
                },
                success: function(resp){
                    console.log(resp);
                    if(!resp['message']){
                        alert("Test Already Added");
                    }else{
                        alert("Test Added");
                    }
                    
                },
            });
    });*/

   function myfunction(id){
    $.ajax({
        url: "{% url 'addtocart' %}",
        type: "POST",
        dataType: "json",
        data: {
            'pk':id,
            'csrfmiddlewaretoken':'{{ csrf_token }}',
        },
        success: function(resp){
            console.log(resp);
            if(!resp['message']){
                alert("Test Already Added");
            }else{
                alert("Test Added");
            }
            
        },
    });
   }
</script>

</html>