{%include "header.html"%}
{%load static%}
<body>
   
    <section class="sub_header py-xl-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ">
                        <a href="{%url "home"%}" class="m-0 fs-18 font-regular cl-dark-blue opc-5 pe-1 sub_nav_bar">Home</a>
                        /
                        <p class="m-0 fs-18 font-regular cl-dark-blue ps-1 sub_nav_bar">Forgot Password</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_register">
        
        <div class="container">
            
            <div class="row">
                
                <form method= "post" id="forgotForm">
                    
        
                    {%csrf_token%}
                    <div class="col-lg-12">
                        <div class="row px-3">
                            <div class="col-lg-7 bg-light-grey p-0 py-xl-5 px-xl-5 br-5">
                                {%for message in messages%}
        {{message}}
        {%endfor%}
                                <div class="px-xl-5 mx-3">
                                    <h1 class="fs-40 font-bold cl-dark-blue pt-3 pb-lg-5 pb-3 m-0">
                                        Forgot Password
                                    </h1>
                                    <div class="pe-md-5 me-md-5 pb-3">
                                        <label class="fs-20 font-bold cl-dark-blue" for="email">Enter Registered Email
                                            ID</label>
                                        <br />
                                        <div class="pe-xl-5 pt-2">
                                            <input class="w-100 px-4 py-2 register_input br-5"
                                                placeholder="Enter Your Name" type="email" name="email" id="email" />
                                        </div>
                                    </div>
                                    <div class="pe-md-5 me-md-5 pb-3">
                                        <label class="fs-20 font-bold cl-dark-blue" for="password">Enter New
                                            Password</label>
                                        <br />
                                        <div class="pe-xl-5 pt-2">
                                            <input class="w-100 px-4 py-2 register_input br-5"
                                                placeholder="Enter New Password" type="text" name="password"
                                                id="password" />
                                        </div>
                                    </div>
                                    <div class="pe-md-5 me-md-5 pb-3">
                                        <label class="fs-20 font-bold cl-dark-blue" for="confirmpassword">Re-enter
                                            Password</label>
                                        <br />
                                        <div class="pe-xl-5 pt-2">
                                            <input class="w-100 px-4 py-2 register_input br-5"
                                                placeholder="Re-enter Password" type="password" name="confirmpassword"
                                                id="confirmpassword" />
                                        </div>
                                    </div>
                                    <div class="mt-xl-5 my-3">
                                        <button class="px-5 py-2  bg-sky-blue br-5  fs-18 font-bold cl-dark-white br"
                                            type="submit" value="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 bg-light-grey p-0">
                                <img src="{%static "images/login.png"%}" alt="" class="img-fluid h-100" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>
    function toggleMenu() {
        var menuBox = document.getElementById('menu-box');

        if (menuBox.style.display == "block") {
            menuBox.style.display = "none";
        }
        else {
            menuBox.style.display = "block";
        }
    }

    jQuery.validator.addMethod("password_regex", function (value, element) {
        return this.optional(element) || /^[a-z0-9!@#$%^&*()_\.\-_]{8,30}$/i.test(value);
    }, "Password of atleast 8 characters.");
    $.validator.addMethod('filesize', function (value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
    }, 'File size must be less than {0}');
    $("#forgotForm").validate({
        rules: {
            'email': {
                required: true,
                email: true
            },
            'password': {
                required: true,
                password_regex: true,
                minlength: 8

            },
            'confirmpassword': {
                equalTo: '#password'
            }

        },

        messages: {
            'email': {
                required: "Enter email ID",
                email: "Enter valid email Id"
            },
            'password': {
                required: "Enter password"
            },
            'confirmpassword': {
                equalTo: "Password is not matching"
            },
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>

</html>