<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnostic Span</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="stylesheet" href="{%static "fontawesome/css/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{%static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{%static "css/owl.carousel.min.css"%}">
    <link rel="stylesheet" href="{%static "css/owl.theme.default.min.css"%}">
    <script src="{%static "js/jquery-3.6.0.min.js"%}"></script>
    <script src="{%static "js/bootstrap.bundle.min.js"%}"></script>
    <script src="{%static "js/owl.carousel.min.js"%}"></script>
    <script src="{%static "js/script.js"%}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</head>
<body>

    <section class="section_nav_bar bg-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="{%url "home"%}" class="nav_bar">
                        <img src="{%static "images/image_logo.png"%}" alt="" class="img-fluid logo-img" />
                    </a>
                    <div class="menu-center">
                        <span onClick="toggleMenu()" id="open_icon">&#9776;</span>
                        <ul class="p-0 m-0" id="menu-box">
                            <li class="pt-xl-0 pt-5 active "><a href="health-pack-started.html" class="nav_hov">Our
                                    Services</a></li>
                            <li><a href="health-packages.html" class="nav_hov">Packages</a></li>
                            <li><a href="" class="nav_hov">Our Lab</a></li>
                            <li><a href="home.html #about" class="nav_hov">About Us</a></li>
                            <li><a href="" class="nav_hov">Contact Us</a></li>
                            <li><a href="{%url "bookonline"%}" class="nav_button"><i class="fa fa-search pe-2"
                                        aria-hidden="true"></i>Book A
                                    Test
                                    Online</a></li>
                            <li>
                                <a class=" cart-logo1 " id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="{%static "images/bg-user.png"%}" alt="" class="" />
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {%if user.is_authenticated %}
                                    <li class="p-0"><a class="dropdown-item" href="{%url "profile"%}">Profile</a></li>
                                    <br>
                                    <li class="p-0"><a class="dropdown-item" href="{%url "logout"%}">Logout</a></li>
                                    <br>
                                    {%else%}
                                    <li class="p-0"><a class="dropdown-item" href="{%url "user-login"%}">Login</a></li>
                                    <br>
                                    <li class="p-0"><a class="dropdown-item" href="{%url "Registration"%}">Register</a></li>
                                    <br>
                                    {%endif%}
                                </ul>
                            </li>
                            <li>
                                <a href="{%url "cart"%}">
                                    <img src="{%static "images/bg-cart.png"%}" alt="" class="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>
<script>
    function toggleMenu() {
        var menuBox = document.getElementById('menu-box');

        if (menuBox.style.display == "block") {
            menuBox.style.display = "none";
        }
        else {
            menuBox.style.display = "block";
        }
    }

</script>
</html>