{% load static %}

<body>
    <section class="section_nav_bar bg-light-grey py-1 py-sm-2 py-lg-3 py-xl-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand"  href="{%url "home"%}"><img src="{%static "images/image_logo.png"%}" alt="" class="img-fluid logo-img" /></a>
                <ul class="mb-0 ps-0 ms-auto d-flex d-lg-none align-items-center">
                    <li class="nav-item dropdown">
                        <a class="pe-2 dropdown-toggle " href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{%static 'images/bg-user.png' %}" alt="" class="w-20" />
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
                             {% if user.is_authenticated %}  
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'booking-history' %}">Booking History</a></li>
                            <li><a class="dropdown-item" href="{% url 'changepassword' %}">Change password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                             {% else %} 
                            <li><a class="dropdown-item" href="{% url 'user-login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'Registration' %}">Register</a></li>
                            {% endif%} 
                        </ul>
                    </li>
                    <li class="nav-item">
                    <a class="px-1" href="{%url "cart"%}"><img src="{%static "images/bg-cart.png"%}" alt="" class="w-22" />
                     <sup>
                        {% if request.session.cart_count %}
                        <div class="cart_indication">{{request.session.cart_count|default:"0"}}</div>
                        {% else %}
                        <div class="cart_indication">0</div>
                        {% endif %}
                    </sup>
                  </a>
                    </li>
                    <li class="nav-item cursor">
                        <button onclick="userinfoo()" class="nav-link px-2 br" data-bs-toggle="modal" data-bs-target="#headermodal">
                            <img onclick="userinfoo()" src="{%static 'images/call_back.png' %}" class="p-0"/>
                        </button>
                        </li>
                </ul>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars header_tgl_btn" aria-hidden="true"></i>
                </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll align-items-lg-center">
                        <li class="nav-item">
                        <a class="nav-link active" href="{%url "packages"%}">Packages</a>
                        </li>
                        {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{%url "testselect"%}">Our Lab</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                        <a class="nav-link"  href="{%url "aboutus"%}">About Us</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{%url "contactus"%}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link nav_button upload" href="{%url "prescription-upload"%}"><i class="fa fa-upload pe-2"
                            aria-hidden="true"></i>Upload Prescription</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link nav_button book" href="{%url "testselect"%}"><i class="fa fa-search pe-2"
                            aria-hidden="true"></i>Lab Tests</a>
                        </li>
                        <li class="nav-item dropdown d-lg-block d-none">
                            <a class="nav-link dropdown-toggle DropDownToggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{%static 'images/bg-user.png' %}" alt="" class="w-20" />
                            </a>
                            <ul class="dropdown-menu" id="ulDropDown" aria-labelledby="navbarScrollingDropdown">
                              {% if user.is_authenticated %} 
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'booking-history' %}">Booking History</a></li>
                                <li><a class="dropdown-item" href="{% url 'changepassword' %}">Change password</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                {% else %} 
                                <li><a class="dropdown-item" href="{% url 'user-login' %}">Login</a></li>
                                <li><a class="dropdown-item" href="{% url 'Registration' %}">Register</a></li>
                                {% endif%}

                            </ul>
                        </li>
                        <li class="nav-item d-lg-block d-none">
                        <a class="nav-link" href="{%url "cart"%}">
                            <img src="{%static "images/bg-cart.png"%}" alt="" class="w-22" />
                            <sup>
                                {% if request.session.cart_count %}
                                <div class="cart_indication">{{request.session.cart_count|default:"0"}}</div>
                                {% else %}
                                <div class="cart_indication">0</div>
                                {% endif %}
                            </sup>
                        </a>
                        </li>
                        <li class="nav-item d-lg-block d-none cursor">
                             <button onclick="userinfoo()" class="nav-link br" data-bs-toggle="modal" data-bs-target="#headermodal">
                               <img src="{%static 'images/call_back.png' %}" class="p-0"/>
                             </button> 
                            {% comment %} <i class="fa fa-phone" aria-hidden="true"></i> {% endcomment %}
                            </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="cart_checkout_modal" id ="infomodal_1">
        <div class="modal fade" id="headermodal" tabindex="-1" aria-labelledby="headermodal_modalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content  p-3 p-sm-4">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        {% comment %} <form method="post" id="homeForm">
                          {%csrf_token%} {% endcomment %}
                            <h3 class="fs-30 font-bold cl-dark-blue text-center">Request a Call Back</h3>
                            <div>
                                <input class="w-100  form_input mt-3 " placeholder="First Name" name="firstname" id="fname"
                                    type="text" maxlength="250" >
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Last Name" name="lastname" id="lname"
                                    type="text" maxlength="250" >
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Phone Number" name="phone" id="ph"
                                    type="text" maxlength="12">
                            </div>
                            <div>
                                <input class="w-100  form_input mt-3" placeholder="Email Address" name="email" id="emai" type="text" maxlength="250"/>
                            </div>
                            <div>
                              <textarea class="w-100 form_input mt-3" rows="1" cols="50"
                                    placeholder="Message" name="message" id="message" maxlength="250"></textarea>
                              {% comment %} <select class="w-100 mt-2  form-select" type="select" id ="selectt"
                      name="selectbookhelp">
                      <option selected="selected" class="opc-5" disabled>Select
                        Test<span
                        class="cl-red ps-1">*</span></option>
                      {%for test in tests%}
                      <option  value={{test.id}}>{{test.testt}}</option>
                      {%endfor%}
                    </select> {% endcomment %}
                              </div>
                            <button class="mx-lg-0 mx-3 mt-4 globalsubmitbutton"
                                type="submit" name="submit" id="request_call_back">SUBMIT</button>
                       {% comment %} </form>  {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script> 
  jQuery.validator.addMethod("name_regex", function (value, element) {
    return this.optional(element) || /^[a-zA-z\.\-_]{1,30}$/i.test(value);
  }, "Enter valid name");
  jQuery.validator.addMethod("phone_regex", function (value, element) {
    return this.optional(element) || /^[0-9\.\-_]{10,30}$/i.test(value);
  }, "Enter valid phone number");
  $.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param)
  }, 'File size must be less than {0}');
  $("#request_call_back_form").validate({
    rules: {

      'firstname': {
        required: true,
        minlength: 1,
        name_regex: true,
      },
      'lastname': {
        required: true,
        minlength: 1,
        name_regex: true,
      },
      'email': {
        required: true,
        email: true
      },
      'phone': {
        required: true,
        phone_regex: true,
        minlength: 10
      },
      'selectbookhelp': {
        required: true,
      },

    },

    messages: {

      'firstname': {
        required: "This field is required."
      },
      'lastname': {
        required: "This field is required."
      },
      'email': {
        required: "This field is required.",
        email: "Enter valid email"
      },
      'phone': {
        required: "This field is required."
      },
      'selectbookhelp': {
        required: "This field is required."
      },
    },
    submitHandler: function (form) {
      form.submit();
    }
  });

  $("#request_call_back").on("click", function (e) {
    var email = $("#emai").val();
    var firstname = $("#fname").val();
    var phone = $("#ph").val();
    var lastname = $("#lname").val();
    var tests=$("#message").val();
    if (email=='' || firstname=='' || phone=='' || lastname=='' || tests==''){
      swal("", "Please update every field", "warning");
    }    
    else{ 
      $('#request_call_back').prop('disabled', true);
      //$("#request_call_back").("disabled",true)
      $.ajax({
        url: "{% url 'requestcall' %}",
        type: "POST",
        dataType: "json",
        data: {
            'email': email,
            'firstname':firstname,
            'lastname':lastname,
            'phone':phone,
            'tests':tests,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function (resp) {
          $('#request_call_back').prop('disabled', false);
            $("#emaill").val('');
            if (!resp["message"]){
                swal("Something Went Wrong", "Try Again", "warning");
                //alert("Already Subscribed Thank you!!")
            }
            else if(resp["message"]=="error"){
              swal("", "Please select test", "warning");
            }
            else{
                swal("Thank You","Our Team Will Contact You soon","success")
            }
        }
    });
  }            
});
function userinfoo(){

  $.ajax({
      url:"{% url 'userinfo' %}",
      method:"get",
      data:{
          csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      dataType: "json",
      success: function(resp){
          
      $("#fname").val(resp['firstname']);
      $("#lname").val(resp['lastname']);
      //$("#age").val(resp['age']);
      //$("#gender").val(resp['gender']);
      $("#ph").val(resp['contact']);
      $("#emai").val(resp['email']);
      //$("#address").val(resp['address']);
     
      }
  })

};
</script>

