
{%include "header.html"%}
{%load static%}
<body>
  <section class="home_banner pt-3 pb-lg-5">
    <div class="owl-carousel owl-theme home-banner-slider">
      <div class="home-banner py-5">
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 col-xxl-5 col-xl-6 col-lg-10 ">
              <h1 class="">Hello Bengaluru,</h1>
              <h2 class="">Protect your health with This simple Checkup.</h2>
              <p class="fs-24">To become <b> “One Stop Solution” </b> for all your Diagnostic needs</p>
              <button>BOOK A TEST ONLINE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_home_health_check">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-between pt-3">
          <h1 class="fs-40 font-bold home_health_h1 w-100 m-0">Health Checks & Lab Tests</h1>
          <p class="fs-18 font-bold home_health_p  ">View All</p>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6 py-xl-5 py-2 ">
          <div class=" bg-light-grey br-10 h-100 health_check_height">
            <div class="position-relative ">
              <div class="batdge">20% off</div>
            </div>
            <div class="px-xl-4 px-3 py-5 bg-light-grey br-10">
              <h1 class="pt-3 font-bold fs-35 cl-light-blue test_head">55+ Tests</h1>
              <div>
                <h1 class="cl-dark-blue fs-35 font-bold test_head">Full Body Checkup</h1>
              </div>
              <div class="home_ul_li ul-dot pt-3  m-0">
                <ul class="">
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                </ul>
              </div>
              <div class="position-relative">
                <p class="mb-2 pt-2 fs-20 font-bold cl-light-blue">Price</p>
                <div class="d-flex">
                  <h2 class="fs-25 font-bold cl-dark-blue home_price">1299</h2>
                  <strike
                    class="d-flex ps-xl-3 ps-2 align-items-center text-center fs-20 font-bold cl-light-blue health_price_disc">1699</strike>
                  <div class="  p-0 ">
                    <a class=" test_now_button fs-16 cl-dark-blue font-bold py-2 px-4 br-20 position-absolute">Test
                      Now</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6 py-xl-5 py-2 ">
          <div class=" bg-light-grey br-10 h-100 health_check_height">
            <div class="position-relative ">
              <div class="batdge">20% off</div>
            </div>
            <div class="px-xl-4 px-3 py-5 bg-light-grey br-10">
              <h1 class="pt-3 font-bold fs-35 cl-light-blue test_head">55+ Tests</h1>
              <div>
                <h1 class="cl-dark-blue fs-35 font-bold test_head">Full Body Checkup</h1>
              </div>
              <div class="home_ul_li ul-dot  pt-3  m-0">
                <ul class="">
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                </ul>
              </div>
              <div class="position-relative">
                <p class="mb-2 pt-2 fs-20 font-bold cl-light-blue">Price</p>
                <div class="d-flex">
                  <h2 class="fs-25 font-bold cl-dark-blue home_price">1299</h2>
                  <strike
                    class="d-flex ps-xl-3 ps-2 align-items-center text-center fs-20 font-bold cl-light-blue health_price_disc">1699</strike>
                  <div class="  p-0 ">
                    <a class=" test_now_button fs-16 cl-dark-blue font-bold py-2 px-4 br-20 position-absolute">Test
                      Now</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6 py-xl-5 py-2 ">
          <div class=" bg-light-grey br-10 h-100 health_check_height">
            <div class="position-relative ">
              <div class="batdge">20% off</div>
            </div>
            <div class="px-xl-4 px-3 py-5 bg-light-grey br-10">
              <h1 class="pt-3 font-bold fs-35 cl-light-blue test_head">55+ Tests</h1>
              <div>
                <h1 class="cl-dark-blue fs-35 font-bold test_head">Full Body Checkup</h1>
              </div>
              <div class="home_ul_li ul-dot  pt-3  m-0">
                <ul class="">
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                </ul>
              </div>
              <div class="position-relative">
                <p class="mb-2 pt-2 fs-20 font-bold cl-light-blue">Price</p>
                <div class="d-flex">
                  <h2 class="fs-25 font-bold cl-dark-blue home_price">1299</h2>
                  <strike
                    class="d-flex ps-xl-3 ps-2 align-items-center text-center fs-20 font-bold cl-light-blue health_price_disc">1699</strike>
                  <div class="  p-0 ">
                    <a class=" test_now_button fs-16 cl-dark-blue font-bold py-2 px-4 br-20 position-absolute">Test
                      Now</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6 py-xl-5 py-2 ">
          <div class=" bg-light-grey br-10 h-100 health_check_height">
            <div class="position-relative ">
              <div class="batdge">20% off</div>
            </div>
            <div class="px-xl-4 px-3 py-5 bg-light-grey br-10">
              <h1 class="pt-3 font-bold fs-35 cl-light-blue test_head">55+ Tests</h1>
              <div>
                <h1 class="cl-dark-blue fs-35 font-bold test_head">Full Body Checkup</h1>
              </div>
              <div class="home_ul_li ul-dot  pt-3  m-0">
                <ul class="">
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                  <li class="health_li fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </li>
                </ul>
              </div>
              <div class="position-relative">
                <p class="mb-2 pt-2 fs-20 font-bold cl-light-blue">Price</p>
                <div class="d-flex">
                  <h2 class="fs-25 font-bold cl-dark-blue home_price">1299</h2>
                  <strike
                    class="d-flex ps-xl-3 ps-2 align-items-center text-center fs-20 font-bold cl-light-blue health_price_disc">1699</strike>
                  <div class="  p-0 ">
                    <a class=" test_now_button fs-16 cl-dark-blue font-bold py-2 px-4 br-20 position-absolute">Test
                      Now</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_synbrome">
    <div class="container">
      <div class="row h-100">
        <h1 class="fs-40  cl-dark-blue font-bold home_health_symp_header pb-lg-4">Health Symptoms</h1>
        <div class="col-xl-2 col-lg-4 col-md-4 col-12 py-2 ">
          <div class=" px-3 bg-light-blue text-center py-5 br-10">
            <img src="{%static "images/icon-symp-1.png"%}" alt="" class="img-fluid pb-3">
            <p class="pt-2 m-0 fs-20 cl-dark-blue font-bold">Covid</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-12 py-2">
          <div class=" px-3 bg-light-orange text-center py-5 br-10">
            <img src="{%static "images/icon-symp-2.png"%}" alt="" class="img-fluid pb-3">
            <p class="pt-2 m-0 fs-20 cl-dark-blue font-bold">Diabetes</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-12 py-2">
          <div class=" px-3 bg-light-green text-center py-5 br-10">
            <img src="{%static "images/icon-symp-3.png"%}" alt="" class="img-fluid pb-3">
            <p class="pt-2 m-0 fs-20 cl-dark-blue font-bold">Fever</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-12 py-2">
          <div class=" px-3 bg-light-pink text-center py-5 br-10">
            <img src="{%static "images/icon-symp-4.png"%}" alt="" class="img-fluid pb-3">
            <p class="pt-2 m-0 fs-20 cl-dark-blue font-bold">Weight Loss</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-12 py-2">
          <div class=" px-3 bg-light-blue text-center py-5 br-10">
            <img src="{%static "images/icon-symp-5.png"%}" alt="" class="img-fluid pb-3">
            <p class="pt-2 m-0 fs-20 cl-dark-blue font-bold">Back Pain</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-4 col-12 py-2">
          <div class=" px-3 bg-light-orange text-center py-5 br-10">
            <img src="{%static "images/icon-symp-6.png"%}" alt="" class="img-fluid pb-3">
            <p class="pt-2 m-0 fs-20 cl-dark-blue font-bold">Pregnancy</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_health_pack pb-3">
    <div class="container">
      <div class="row">
        <h1 class="fs-40  cl-dark-blue font-bold home_health_symp_header py-4 m-0">Health Packages</h1>
        <div class="col-xl-3  col-lg-4 col-md-6 pt-3">
          <div class="py-5 bg-light-grey br-30 health_hover">
            <p class="fs-35 font-bold cl-dark-blue text-center m-0">STARTED</p>
            <div class="d-flex justify-content-center align-content-center pt-4 mt-3">
              <div class="home_linear_border  ">
                <div class="pt-5 mt-4">
                  <p
                    class="font-bold fs-20 cl-dark-blue d-flex justify-content-center align-content-center align-items-center m-0">
                    Price</p>
                  <h1 class="fs-40 cl-dark-blue font-bold d-flex justify-content-center m-0 ">799</h1>
                  <p
                    class="d-flex justify-content-center align-content-center align-items-center m-0 fs-18 cl-dark-blue font-bold">
                    Includes 29
                    Tests
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center pt-5">
              <button class="home_pack_viewpack py-3 fs-16 font-bold br-50 ">VIEW PACK</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3  col-lg-4 col-md-6 pt-3 ">
          <div class="py-5 bg-light-grey br-30 health_hover">
            <p class="fs-35 font-bold cl-dark-blue text-center m-0">BASIC</p>
            <div class="d-flex justify-content-center align-content-center pt-4 mt-3">
              <div class="home_linear_border  ">
                <div class="pt-5 mt-4">
                  <p
                    class="font-bold fs-20 cl-dark-blue d-flex justify-content-center align-content-center align-items-center m-0">
                    Price</p>
                  <h1 class="fs-40 cl-dark-blue font-bold d-flex justify-content-center m-0 ">999</h1>
                  <p
                    class="d-flex justify-content-center align-content-center align-items-center m-0 fs-18 cl-dark-blue font-bold">
                    Includes 29
                    Tests
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center pt-5">
              <button class="home_pack_viewpack py-3 fs-16 font-bold  br-50 ">VIEW PACK</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3  col-lg-4 col-md-6 pt-3">
          <div class="py-5 home_health_standard br-30 health_hover ">
            <p class="fs-35 font-bold cl-dark-white text-center m-0">STANDARD</p>
            <div class="d-flex justify-content-center align-content-center pt-4 mt-3">
              <div class="home_linear_border_2  ">
                <div class="pt-5 mt-4">
                  <p
                    class="font-bold fs-20 cl-dark-white d-flex justify-content-center align-content-center align-items-center m-0">
                    Price</p>
                  <h1 class="fs-40 cl-dark-white font-bold d-flex justify-content-center m-0 ">1499</h1>
                  <p
                    class="d-flex justify-content-center align-content-center align-items-center m-0 fs-18 cl-dark-white font-bold">
                    Includes 29
                    Tests
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center pt-5">
              <button class="home_pack_viewpack_2 py-3 cl-dark-blue fs-16 font-bold br-50 ">VIEW PACK</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3  col-lg-4 col-md-6 pt-3">
          <div class="py-5 home_health_premium br-30 health_hover">
            <p class="fs-35 font-bold cl-dark-white text-center m-0">PREMIUM</p>
            <div class="d-flex justify-content-center align-content-center pt-4 mt-3">
              <div class="home_linear_border_3  ">
                <div class="pt-5 mt-4">
                  <p
                    class="font-bold fs-20 cl-dark-white d-flex justify-content-center align-content-center align-items-center m-0">
                    Price</p>
                  <h1 class="fs-40 cl-dark-white font-bold d-flex justify-content-center m-0 ">1499</h1>
                  <p
                    class="d-flex justify-content-center align-content-center align-items-center m-0 fs-18 cl-dark-white font-bold">
                    Includes 29
                    Tests
                  </p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center pt-5">
              <button class="home_pack_viewpack_2 py-3 cl-dark-blue fs-16 font-bold br-50 ">VIEW PACK</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section_care">
    <div class="container">
      <div class="">
        <div class="row">
          <h1 class="fs-40  cl-dark-blue font-bold home_health_symp_header m-0 py-5">Health Care</h1>
          <div id="health-care-slider" class="col-lg-12 health-care-slider owl-carousel owl-theme">
            <div class="col-lg-6 w-100">
              <div class="row">
                <div class="col-lg-6 h-100">
                  <div class="pe-lg-4">
                    <img src="{%static "images/bg-health-care.png"%}" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-lg-6">
                  <h1 class="fs-35 font-bold cl-dark-blue m-0">A better life starts with beautiful smiles.</h1>
                  <p class="m-0 fs-18 cl-dark-blue health_care_p pt-4 pb-5">Lorem Ipsum is simply dummy text of
                    the
                    printing and typesetting industry</p>

                  <a class="py-3 px-4 bg-dark-orange cl-dark-blue font-bold fs-16 br-30">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 w-100 h-100">
              <div class="row">
                <div class="col-lg-6 h-100">
                  <div class="pe-4">
                    <img src="{%static "images/bg-health-care.png"%}" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="col-lg-6">
                  <h1 class="fs-35 font-bold cl-dark-blue m-0">A better life starts with beautiful smile.</h1>
                  <p class="m-0 fs-18 cl-dark-blue health_care_p pt-4 pb-5 ">Lorem Ipsum is simply dummy text of
                    the
                    printing and typesetting industry.</p>
                  <a class="py-3 px-4 bg-dark-orange cl-dark-blue font-bold fs-16 br-30 mb-5">READ MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_about_span bg-light-grey mt-5" id="about">
    <div class="container">
      <div class="row py-lg-5 py-3">
        <div class="col-lg-6 pe-lg-5 py-lg-5 py-3">
          <h1 class="fs-40 font-bold cl-dark-blue py-lg-5">About Span</h1>
          <p class="fs-30 font-regular cl-dark-brown m-0 pt-2">On December 1 2018, SPAN (www.spanhealth.com) took the
            first
            step towards
            making diagnostics a key vertical. The laboratories are located in Mumbai, Pune, Barshi, and Aurangabad.</p>
          <p class="fs-24 font-regular pt-5">The management is committed to ensuring that the quality of our services
            continues to meet
            and exceed your requirements while expanding the number of tests performed locally and also improving the
            TAT significantly. Diagnostica SPAN has plans of expanding its operations pan-India through organic and
            franchisee models designed to provide a robust and reliable one-stop solution.</p>
          <div class="row py-5">
            <div class="col w-100  ">
              <h1 class="fs-40 cl-light-2-blue font-bold ">123456</h1>
              <p class="fs-25 font-bold cl-dark-blue">TESTED PEOPLE</p>
            </div>
            <div class="col w-100 ">
              <h1 class="fs-40 cl-light-2-blue font-bold ">3456</h1>
              <p class="fs-25 font-bold cl-dark-blue">VERIFIED CENTER</p>
            </div>
          </div>
          <div class="row py-5">
            <div class="col w-100 ">
              <h1 class="fs-40 cl-light-2-blue font-bold ">45</h1>
              <p class="fs-25 font-bold cl-dark-blue">CITIES</p>
            </div>
            <div class="col w-100 ">
              <h1 class="fs-40 cl-light-2-blue font-bold ">543</h1>
              <p class="fs-25 font-bold cl-dark-blue">DAILY VISITS</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ps-lg-5">
          <img src="{%static "images/about-us-img.png"%}" alt="" class="img-fluid">

        </div>
      </div>
    </div>
  </section>

  <section class="section_critical">
    <div class="container">
      <div class="row">
        <h1 class="fs-40 font-bold cl-dark-blue py-5 m-0">Our CRITICAL services</h1>
        <div class="col-lg-12 pb-5">
          <img src="{%static "images/bg-critical.png"%}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="section_testimonial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="fs-40 font-bold cl-dark-blue py-4">Testimonials</h1>
          <div id="testimonial_slider" class="owl-carousel owl-theme">
            <div class=" bg-light-brown w-100 br-15">
              <div class="px-4 fs-40 mx-3">
                <i class="fa fa-quote-left testimonial_quote text-center" aria-hidden="true"></i>
                <p class="fs-18 font-bold">The Company’s broad spectrum of services offer around 1200 clinical
                  laboratory
                  tests and various
                  profiles. Various test combinations, specific to a disease or disorder and wellness profiles used for
                  health and fitness screening, form a part of the Company’s service profile. One can choose and book
                  blood tests for: CBC, Blood Liver profile, Vitamin B12 or Vitamin D3 and many more.The Company’s broad
                  spectrum of services offer around 1200 clinical laboratory tests and various profiles.</p>
                <div class="test_img "><img src="{%static "images/testimonial.png"%}" alt="" class="img-fluid"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="helping_book_test pt-3 mt-lg-5">
    <div class="helping-book-banner py-lg-5 py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 py-4 ">
            <h1 class="fs-40 font-bold cl-dark-white pe-xxl-5 me-xxl-5">Helping Patients for around The Globe !!!</h1>
            <div class="row">
              <div class="col-12 col-md-6 pe-lg-5 helper_header_col">
                <div class="d-flex">
                  <i class="fa fa-comments-o help-book-icon" aria-hidden="true"></i>
                  <h4 class="healper_sub_header">Whats app</h4>
                </div>
                <p class="helping_contact">+91 97693 51301</p>
              </div>
              <div class="col-12 col-md-6 pe-lg-5 helper_header_col">
                <div class="d-flex">
                  <i class="fa fa-envelope-o help-book-icon" aria-hidden="true"></i>
                  <p class="healper_sub_header">Email Enquiry</p>
                </div>
                <div class="helping_contact">enquiry@spandiagno.com</div>
              </div>
              <div class="col-12 col-md-6 pe-lg-5 helper_header_col">
                <div class="d-flex">
                  <i class="fa fa-clock-o help-book-icon" aria-hidden="true"></i>
                  <h4 class="healper_sub_header">Opening Hours</h4>
                </div>
                <p class="helping_contact">Monday – Sunday 06:00 AM – 10:00 PM</p>
              </div>
              <div class="col-12 col-md-6 pe-lg-5 helper_header_col">
                <div class="d-flex">
                  <i class="fa fa-address-card-o  help-book-icon" aria-hidden="true"></i>
                  <h4 class="healper_sub_header">Contact Us</h4>
                </div>
                <p class="helping_contact">First Floor, 15/2, 11th Main Road, 13th Cross, Malleswaram, Bangalore – 560
                  003</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6  py-4 px-lg-4">
            <form action="javascript:void(0)" id="homeForm">
              <div class="bg-dark-white px-lg-5 px-3 py-4 br-15">
                <h1 class="fs-40 font-bold cl-dark-blue pb-lg-4">Book a Test Online</h1>
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-6 pt-4">
                    <label class="fs-20 font-regular cl-dark-blue">Name</label>
                    <input class="w-100  br-5 mt-2" type="text" name="name" id="name" />
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 pt-4">
                    <label class="fs-20 font-regular cl-dark-blue">Surname</label>
                    <input class="w-100 br-5 mt-2" type="text" name="surname" id="surname" />
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 pt-4">
                    <label class="fs-20 font-regular cl-dark-blue">Phone Number</label>
                    <input class="w-100 br-5 mt-2" type="text" name="phone" id="phone" />
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 pt-4">
                    <label class="fs-20 font-regular cl-dark-blue">Email Address</label>
                    <input class="w-100 br-5 mt-2" type="email" name="email" id="email" />
                  </div>
                  <div class="col-12 pt-4">
                    <label class="fs-20 font-regular cl-dark-blue">Select your Test Name</label>
                    <input class="w-100 br-5 mt-2" />
                  </div>
                  <div class="col-12 py-4 mt-3"><button
                      class="br px-4 py-3 fs-18 font-bold cl-dark-white bg-sky-blue br-5">BOOK A TEST ONLINE</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>

  {%include "footer.html"%}
</body>

<script>
  function toggleMenu() {
    var menuBox = document.getElementById('menu-box');

    if (menuBox.style.display == "block") {
      menuBox.style.display = "none";
    }
    else {
      menuBox.style.display = "block";
    }
  }
  $("#health-care-slider").owlCarousel({
    loop: true,
    margin: 30,
    items: 2,
    responsiveClass: true,
    autoHeight: false,
    autoplayTimeout: 3000,
    smartSpeed: 800,
    dots: false,
    nav: false,
    autoplay: true,
    responsive: {
      0: {
        items: 1,
      },

      576: {
        items: 1,
      },
      768: {
        items: 2,
      },

      992: {
        items: 2,
      },

      1199: {
        items: 2,
      },
    },
  });
  $("#testimonial_slider").owlCarousel({
    loop: true,
    margin: 30,
    items: 2.7,
    responsiveClass: true,
    autoHeight: false,
    autoplayTimeout: 7000,
    smartSpeed: 800,
    dots: false,
    nav: false,
    autoplay: true,
    responsive: {
      0: {
        items: 1,
      },

      576: {
        items: 1,
      },
      768: {
        items: 2,
      },

      992: {
        items: 2.5,
      },

      1199: {
        items: 2.7,
      },
    },
  });


  $('.home-banner-slider').owlCarousel({
    loop: true,
    margin: 20,
    nav: false,
    items: 1.2,
    center: true,
    nav: false,
    dots: false
  })

  jQuery.validator.addMethod("name_regex", function (value, element) {
    return this.optional(element) || /^[a-zA-z\.\-_]{1,30}$/i.test(value);
  }, "Enter valid name");
  jQuery.validator.addMethod("phone_regex", function (value, element) {
    return this.optional(element) || /^[0-9\.\-_]{10,30}$/i.test(value);
  }, "Enter valid phone number");
  $.validator.addMethod('filesize', function (value, element, param) {
    return this.optional(element) || (element.files[0].size <= param)
  }, 'File size must be less than {0}');
  $("#homeForm").validate({
    rules: {

      'name': {
        required: true,
        minlength: 1,
        name_regex: true,
      },
      'surname': {
        required: true,
        minlength: 1,
        name_regex: true,
      },
      'email': {
        required: true,
        email: true
      },
      'phone': {
        required: true,
        phone_regex: true,
        minlength: 10
      },

    },

    messages: {

      'name': {
        required: "Enter first name",
      },
      'surname': {
        required: "Enter  name",
      },
      'email': {
        required: "Enter email ID",
        email: "Enter valid email"
      },
      'phone': {
        required: "Enter phone number",
      },
    },
    submitHandler: function (form) {
      form.submit();
    }
  });
</script>


</html>