
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Diagnostica Diagno</title>
		<!-- Favicon -->
		<link rel="icon" href="" type="image/x-icon" />

	</head>

    <style>
        .f-family{
            font-family:'Times New Roman', Times, serif
        }
  
    </style>
	<body>
      <div style="text-align:right; margin-left:565px; padding-bottom:50px">
       <div style="margin:0px"> <p style="color: #402f64; margin-bottom: 0px; text-align:right; font-size:18px;  ">Diagnostica <span style="color:#7a2020; font-weight:bold; margin:0px"> SPAN </span></p></div>
      </div>
      <div style="padding-right:395px">
        <p style="font-size:14px; margin:0px; font-weight:bold;" class="f-family"><span>Diagnostica Span Pvt. Ltd,</span></p>
        <p style="font-size:13px; margin:0px; " class="f-family">Ground Floor, No. 79, Deccan Central, 40th Main,
            M.E.I Road, 2nd Stage, Industrial Suburb, Yeshwanthpur,
            Bengaluru 560022</p>
      </div>
      <div class="f-family" style="font-size:16px; text-align:center; font-weight:bold; padding-top:30px">BILL/RECEIPT</div>
		<div >
            <table  >
                <tr style="padding-top:5px;">
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black" class="f-family"> Receipt No. : <span style="font-weight:none; " >{{order.bookingid}}</span></td>
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black; margin-left:20px " class="f-family">Name : {{testbooking.firstname}} {{testbooking.lastname}}</td>
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black; margin-left:50px" class="f-family">Sex / Age : <span style="font-weight:none; " >Male / 29 years</span></td>
                </tr>
                <tr style="padding-top:5px;">
                    <td style="font-size:13px; font-weight:bold" class="f-family"> Status : <span style="font-weight:none; " > Completed</span></td>
                    <td style="font-size:13px; font-weight:bold; margin-left:20px " class="f-family">Referral : SELF</td>
                    <td style="font-size:13px; font-weight:bold; margin-left:50px" class="f-family">Date & Time: <span style="font-weight:none; " >21/06/22, 06:45 PM</span></td>
                </tr>
            </table>
            <table  >
                <tr style="padding-top:5px;">
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black; border-bottom:1px solid black" class="f-family"> SL no.</td>
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black; border-bottom:1px solid black" class="f-family">Test Code</td>
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black; border-bottom:1px solid black" class="f-family">Test Name</td>
                    <td style="font-size:13px; font-weight:bold; border-top:1px solid black; border-bottom:1px solid black" class="f-family">Test Price</td>
                </tr>
                <tr style="padding-top:5px;">
                    <td style="font-size:13px; width:100px  " class="f-family"> 1</td>
                    <td style="font-size:13px;  width:170px" class="f-family">SHCPL</td>
                    <td style="font-size:13px;  width:350px" class="f-family">SPAN COMBO SHCPL.</td>
                    <td style="font-size:13px; " class="f-family">1000.00</td>
                </tr>
                <tr style="padding-top:5px;">
                    <td style="font-size:12px; width:100px  " class="f-family"> 2</td>
                    <td style="font-size:12px;  width:170px" class="f-family">CBC123</td>
                    <td style="font-size:12px;  width:350px" class="f-family">COMPLETE BLOOD COUNT.</td>
                    <td style="font-size:12px; " class="f-family">90.00</td>
                </tr>
                <tr style="padding-top:5px;">
                    <td style="font-size:12px; width:100px  " class="f-family"> 3</td>
                    <td style="font-size:12px;  width:170px" class="f-family">SHCPL</td>
                    <td style="font-size:12px;  width:350px" class="f-family">SPAN COMBO SHCPL.</td>
                    <td style="font-size:12px; " class="f-family">900.00</td>
                </tr>
            </table>
            <table  >
                <tr style="padding-top:5px;">
                    <td style="font-size:12px;  border-top:1px solid black; border-bottom:1px solid black; width:520px" class="f-family">Payable Amount (in words) :Four Hundred Eighty Three only</td>
                    <td style="font-size:12px;  border-top:1px solid black; border-bottom:1px solid black" class="f-family">Total:</td>
                    <td style="font-size:12px;  border-top:1px solid black; border-bottom:1px solid black" class="f-family">1200.00</td>
                </tr>
            </table>
            <table  >
                <tr style="padding-top:5px;">
                    <td style="font-size:12px;  width:520px" class="f-family"></td>
                    <td style="font-size:12px;" class="f-family">Discount:</td>
                    <td style="font-size:12px;" class="f-family">1200.00</td>
                </tr>
                <tr style="padding-top:5px;">
                    <td style="font-size:12px;  width:520px" class="f-family"></td>
                    <td style="font-size:12px; font-weight:bold" class="f-family">Payable Amount:</td>
                    <td style="font-size:12px;" class="f-family">1200.00</td>
                </tr>
            </table>

            <table>
                {% comment %} <tr style="padding-top:5px;">
                    <td style="font-size:12px;  width:260px" class="f-family">Payment Mode : CASH</td>
                    <td style="font-size:12px;  width:260px" class="f-family">Payment Date : 21/06/22, 06:45 p.m.</td>
                    <td style="font-size:12px; " class="f-family">Paid Amount:</td>
                    <td style="font-size:12px;" class="f-family">1200.00</td>
                </tr> {% endcomment %}
                <tr style="padding-top:5px;">
                    <td style="font-size:12px;  width:260px" class="f-family">Payment Mode : ONLINE</td>
                    <td style="font-size:12px;  width:260px" class="f-family">Payment Date : 21/06/22, 06:49 p.m.</td>
                    <td style="font-size:12px; " class="f-family">Paid Amount:</td>
                    <td style="font-size:12px;" class="f-family">1200.00</td>
                </tr>
            </table>
            <table  >
                <tr style="padding-top:5px;">
                    <td style="font-size:12px; border-bottom:1px solid black;  width:520px" class="f-family"></td>
                    <td style="font-size:12px; border-bottom:1px solid black;" class="f-family">Total Paid:</td>
                    <td style="font-size:12px; border-bottom:1px solid black;" class="f-family">1200.00</td>
                </tr>
            </table>

            <table  >
                <tr style="padding-top:3px">
                    <td style="font-size:12px;  width:520px;" class="f-family"> <p style="padding:0px">Comments : Span Voucher Discount @ 30%</p></td>
                </tr>
            </table>
            <table  >
                <tr style="padding-top:3px">
                    <td style="font-size:12px;  width:520px;" class="f-family"></td>
                    <td style="font-size:12px; padding-top:70px" class="f-family">
                        <p style="border-top:1px solid black; padding-top:5px; padding-left:60px">Cashier's Signature</p>
                    </td>
                </tr>
            </table>
           
            <div>
                <h4 style="color: #402f64; padding-top: 100px; margin-bottom: 0px; text-align:center; font-size:15px">Diagnostica <span style="color:#7a2020 ;"> SPAN </span> Private Limited</h4>
                <p style="text-align:center">H.O.: NO. 79, Deccan Central, 40th Main, M.E.I Road, 2nd Stage, Industrial Suburb, Yeshwanthpur, Bengaluru 560022 | Website: www.spandiagno.com
                    Customer Care No: +91 9769351301 / +91 9888799994 | CIN No: U85300KA2021PTC151331 | Email: enquiry@spanhealth.com</p>
            </div>
          
            
        </div>
        
	</body>
</html>