{%include "header.html"%}
{%load static%}
<body>
    <section class="sub_header py-xl-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ">
                        <p class="m-0 fs-18 font-regular cl-dark-blue opc-5 pe-1 sub_nav_bar"><a href="{%url "home"%}">Home</a></p>
                        /
                        <p class="m-0 fs-18 font-regular cl-dark-blue ps-1 sub_nav_bar">Login</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_login br-10 pb-5">
        <div class="container">
            <form method ="post"  id="loginForm">
                {%csrf_token%}
                <div class="row h-100 ">
                    <div class="col-lg-12">
                        <div class="row px-3 h-100">
                            <div class="col-lg-7 p-0 bg-light-grey">
                                <div class="px-xl-5 py-xl-5 pt-lg-2 bg-light-grey">
                                    <div>
                                        <h1 class="fs-40 font-bold cl-dark-blue pt-lg-0 pt-3 m-0 ">Login</h1>
                                        <p class="fs-18 font-regular cl-dark-blue m-0 py-xl-5 py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
{%for message in messages%}
<label class="error">{{message}}</label>
{%endfor%}
                                        <div class="row">
                                            <div class="col-lg-6 pb-xl-0 pb-3">
                                                <label class="fs-20 font-bold cl-dark-blue pb-2" for="email">Email
                                                    Id</label>
                                                <input class="login_input br-5  ps-5" placeholder="Enter email Id" id="email" name="email" type="email" autocomplete="off">
                                            </div>
                                            <div class="col-lg-6 login_input_col">
                                                <label class="fs-20 font-bold cl-dark-blue pb-2" for="password">Password</label>
                                                <input class="login_input_2 br-5  ps-5" placeholder="Enter Password " type="password" id="password" name="password">
                                                <i class="toggle-password fa fa-fw fa-eye-slash "></i>
                                            </div>
                                        </div>
                                        <div class="row py-lg-5 py-3 ">
                                            <div class="col-lg-8 col-md-6 col-12 text-start">
                                                <div class="d-flex align-items-start">
                                                    <input type="checkbox" class="" style="height: 25px;" id="login-check">
                                                    <label for="login-check" class="ps-2 cl-dark-blue font-regular">
                                                        <p class="mb-0 fs-16 font-regular">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy</p>
                                                    </label>
                                                </div>
                                            </div>
                                            <a href="{%url "forgot-password"%}" class="col-lg-4 col-md-6 col-12 text-lg-end text-md-end cl-dark-blue fs-16 font-regular cursor">
                                                Forgot Password?</a>
                                        </div>
                                        <div class="pt-3">
                                            <button class=" fs-18 font-bold cl-dark-white py-lg-3 py-2 px-5 bg-sky-blue br-5 br" type="submit" value="submit">Login</button>
                                        </div>

                                        <div class="d-flex py-2 mt-xl-5  mt-2">
                                            <p class="m-0 pe-3 fs-18 font-regular">Create an account?</p>
                                            <a href="{%url "Registration"%}">
                                                <h5 class="fs-20 font-bold cursor">Sign Up</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 p-0 bg-light-grey ">
                                <img src="{%static "images/login.png"%}" alt="" class="img-fluid h-100">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>


<script>
  

    $(document).on('click', '.toggle-password', function() {

        $(this).toggleClass("fa-eye fa-eye-slash");

        var input = $("#password");
        input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
    });



    $.validator.addMethod('filesize', function(value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
    }, 'File size must be less than {0}');
    $("#loginForm").validate({
        rules: {
            'email': {
                required: true,
                email: true
            },
            'password': {
                required: true,
                password_regex: true,
                minlength: 8
            },
        },

        messages: {
            'email': {
                required: "The Email is required!",
                email: "Please enter a valid email address!"
            },
            'password': {
                required: "The password field is mandatory!"
            },
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
</script>
