
{%include "header.html"%}
{%include "subheader.html"%}
{%load static%}
<body>
    <section class="cart_table">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 position-relative">
                    <div class="bg-light-grey br-15">
                        <h1 class="fs-40 font-bold cl-dark-blue text-center py-lg-5 py-3 m-0  px-3">My Cart</h1>
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <div class="wrapper">
                                        <div class="table test_row">
                                            <div class="row header row_data_header">
                                                <div class="cell">
                                                    S.No
                                                </div>
                                                <div class="cell">
                                                    Test Name
                                                </div>
                                                <div class="cell">
                                                    Category Name
                                                </div>
                                                <div class="cell">
                                                </div>
                                                <div class="cell">
                                                    Price
                                                </div>
                                            </div>
{%for cart in data%}
                                            <div class="row">
                                                <div class="cell" data-title=" S.No">
                                                    {{ forloop.counter }}
                                                </div>
                                                <div class="cell" data-title="Test Name">
                                                    {{cart.items}}
                                                </div>
                                                <div class="cell" data-title="Category Name">
                                                    {{cart.categoryy}}
                                                </div>
                                                <div class="cell" data-title="">
                                                    {% comment %} href="{%url "destroy" cart.id%}" {% endcomment %}
                                                    {% comment %} <a href="{% url "destroy" cart.id%}" class="link-delete text-danger" ><i class="fa fa-trash cursor" aria-hidden="true"></i></a> {% endcomment %}
                                                   {% comment %} <button  class="link-delete br" ><i class="fa fa-trash cursor" aria-hidden="true"></i></button> {% endcomment %}
                                                <button  name={{cart.id}} id="delete"  type="button" class="link-delete br"><i class="fa fa-trash cursor" aria-hidden="true"></i></button>
                                                </div>
                                                <div class="cell" data-title="Price">
                                                   Rs {{cart.price}}
                                                </div>
                                            </div>
{%endfor%}
                                       
                                        </div> 
                                        <div class="row py-4">
                                            <div class="col-lg-6">
                                                {% comment %} <form method="post" id="couponForm">
                                                    {%csrf_token%}  {% endcomment %}
                                                    <h3 class="fs-24 font-bold cl-dark-blue m-0 pb-lg-4 pb-3">Enter
                                                        Coupon
                                                        Code
                                                    </h3>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <input class="w-100 coupon_input" placeholder="Apply Coupon"
                                                                id="coupon" name="coupon" type="coupon" />
                                                        </div>
                                                        <div class="col-6 col-md-6 pt-md-0 py-3">
                                                            <button
                                                                class="coupon_apply br br-5 text-center fs-18 font-regular ms-xl-3" id="cpnbtn" >APPLY</button>
                                                        </div>
                                                    </div>
                                                {% comment %} </form> {% endcomment %}
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row text-center">
                                                    <div class="col-6">
                                                        <h4 class="fs-20 font-bold cl-dark-blue mb-3">Sub Total</h4>
                                                    </div>
                                                    <div class="col-6">
                                                        <h4 class="fs-20 font-bold cl-dark-blue mb-3">Rs. {{subtotal}}</h4>
                                                    </div>
                                                </div>
                                                <div class="row py-4 text-center bg-white sub_total">
                                                    <div class="col-6">
                                                        <h4 class="fs-30 font-bold cl-dark-blue">Total</h4>
                                                    </div>
                                                    <div class="col-6 discount">
                                                        <h4 class="fs-30 font-bold cl-dark-blue" id="total">{{subtotal}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="  check_out">
                        <button 
                            class="float-end fs-18 font-bold cl-dark-white br br-5 bg-sky-blue py-3 my-lg-5 my-3 px-5 br"  data-bs-toggle="modal" data-bs-target="#cart_checkout_modal" type="button" id="checkout1">CHECKOUT</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="cart_checkout_modal" id ="infomodal">
        <div class="modal fade" id="cart_checkout_modal" tabindex="-1" aria-labelledby="cart_checkout_modalLabel"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close  close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                        <form method="post" id="patientInformationForm">
                           {% comment %} {%csrf_token%} {% endcomment %}
                            <h3 class="fs-30 font-bold cl-dark-blue text-center">Patient Information</h3>

                            <div>
                                <input class="w-100  br-5 modal_input" placeholder="First Name" name="firstname" id="firstname"
                                    type="text" >
                            </div>
                            <div>
                                <input class="w-100  br-5" placeholder="Last Name" name="lastname" id="lastname"
                                    type="text" >
                            </div>
                            <div>
                                <input class="w-100  br-5" placeholder="Contact Number" name="phone" id="phone"
                                    type="text" >
                            </div>
                            <div>
                                <input class="w-100  br-5" placeholder="Age" name="age" id="age" type="text" />
                            </div>
                            <div>
                                <select class="w-100 mt-3" type="select" name="gender" id="gender">
                                    <option selected="selected" class="opc-5" disabled>
                                        Gender</option>
                                        <option value="m">Male</option>
                                        <option value="f">Female</option>
                                        <option value="o">Others</option>
                                </select>
                            </div>
                            <div class=" ">
                                <select class="w-100 py-3 mt-3" type="select" name="option1" id="option1">
                                    <option selected="selected" class="opc-5" disabled>Select Test For</option>
                                    <option value="m">My-Self</option>
                                    <option value="o">Others</option>
                                </select>
                            </div>
                            <div class=" ">
                                <select class="w-100 py-3 mt-3" type="select" name="option" id="option">
                                    <option selected="selected" class="opc-5" disabled>Option</option>
                                
                                    <option value="m">Mother</option>
                                    <option value="f">Father</option>
                                    <option value="w">Wife</option>
                                    <option value="s">Son</option>
                                    <option value="s">Daughter</option>
                                    <option value="s">Others</option>

                                </select>
                            </div>

                            <button class="mx-lg-0 mx-3 mt-4 prescription br bg-sky-blue br-5 cl-dark-white"
                                type="submit" name="submit" id="checkout">SUBMIT</button>
                        {% comment %} </form> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{%include "footer.html"%}
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js">
   
    $.validator.addMethod('filesize', function (value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
    }, 'File size must be less than {0}');
    $("#couponForm").validate({
        rules: {
            'coupon': {
                required: true,
            },
        },
        messages: {
            'coupon': {
                required: "The Coupon is required!",
            },
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
    $.validator.addMethod('filesize', function (value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
    }, 'File size must be less than {0}');
    $("#subscribes").validate({
        rules: {
            'email': {
                required: true,
                email: true
            },
        },
        messages: {
            'email': {
                required: "The Email is required!",
                email: "Please enter a valid email address!"
            },
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>
<script type = "text/javascript">

    $("#delete").on("click", function(e){
        
        var idd = $(this).attr('name');
        
        
            $.ajax({
                url: {% url 'destroy' %},
                type: "POST",
                dataType: "json",
                data: {
                    'pk':idd,
                    'csrfmiddlewaretoken':'{{ csrf_token }}',
                },
                success: function(resp){
                   
                   window.location.reload();
                }
            });
        
        return false;
    });
    $('#cpnbtn').on('click', function(e){
        var a=$("#total").text();
        var coupon=$("#coupon").val()
          $.ajax({
               url: "{% url 'coupon' %}",
               type : "POST", 
               data: {
                "coupon" : coupon,
                "total":a,
                csrfmiddlewaretoken: '{{ csrf_token }}',
               },
               dataType: "json",

               success: function(resp){
                console.log(resp)
                $(".discount").empty();
                if (!resp['message']){
                    alert("Invalid Coupon")
                }
                else{
                var h4 =`<h4 class="fs-30 font-bold cl-dark-blue" id="total">${resp['total']}</h4>`;
                   /* $('#output').html(data.msg) response message */
                   $(".discount").append(h4);
                   $("#coupon").prop('disabled', true);
                }
               },
        
           });
                });


                /*$('#checkout').on('click', function(e){
                    var firstname=$("#firstname").val();
                    var lastname=$("#lastname").val();
                    var phone=$("#phone").val();
                    var age=$("#age").val();
                    var gender=$("#gender").val();
                    var option1=$("#option1").val();
                    var option=$("#option").val();
                      $.ajax({
                           url: "{% url 'cart' %}",
                           type : "POST", 
                           data: {
                            "firstname" : firstname,
                            "lastname":lastname,
                            "phone":phone,
                            "age" : age,
                            "gender":gender,
                            "option1":option1,
                            "option":option,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                           },
                           dataType: "json",
                           success: function(resp){
                            
                            console.log(resp);
                            $("#infomodal").hide();
                            var options = {
           
                                key: "{{ razorpay_merchant_key }}",
                            
                                amount: "{{ razorpay_amount }}",
                                currency: "{{ currency }}",
                                 
                                // Your/store name.
                                name: "Diagnostica Span",
                                order_id: "{{ razorpay_order_id }}",
                                callback_url: "{{ callback_url }}",
                                redirect:true
                              };
                              // initialise razorpay with the options.
                              var rzp1 = new Razorpay(options);
                               
                              // add event listener to the payment button.
                           
                                rzp1.open();
                                e.preventDefault();

                                
                           },
                    
                       });
                            });*/
/*payment*/

$("#option1").change(function(e){
    var opt = $(this).val();
    if(opt === "m"){
    $("#option").attr("disabled", true);
    }else{
        $("#option").attr("disabled", false);
    }

});


$(document).ready(function(){
    jQuery.validator.addMethod("name_regex", function (value, element) {
        return this.optional(element) || /^[a-zA-z\.\-_]{1,30}$/i.test(value);
    }, "Enter valid name");
    jQuery.validator.addMethod("phone_regex", function (value, element) {
        return this.optional(element) || /^[0-9\.\-_]{10,30}$/i.test(value);
    }, "Enter valid phone number");
    jQuery.validator.addMethod("age_regex", function (value, element) {
        return this.optional(element) || /^[0-9\.\-_]{1,2}$/i.test(value);
    }, "Enter valid age");
    $.validator.addMethod('filesize', function (value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
    }, 'File size must be less than {0}');
    $("#patientInformationForm").validate({
        rules: {
            'radio_self': {
                required: true,
            },
            'file': {
                required: true,
            },
            
            'firstname': {
                required: true,
                minlength: 1,
                name_regex: true,
            },
            'lastname': {
                required: true,
                minlength: 1,
                name_regex: true,
            },
            'age': {
                required: true,
                age_regex: true
            },
            'phone': {
                required: true,
                phone_regex: true,
                minlength: 10
            },
            'gender': {
                required: true,
            },
        },
    
        messages: {
            'radio_self': {
                required: "Select any one",
            },
    
            'file': {
                required: "Enter file",
            },
            
            'phone': {
                required: "Enter mobile number",
            },
            'gender': {
                required: "Select gender",
            },
            'firstname': {
                required: "Enter first name"
            },
            'lastname': {
                required: "Enter last name"
            },
            'age': {
                required: "Enter Age"
            }
    
    
    
        },
        submitHandler: function (form) {
            //form.submit();
            var firstname=$("#firstname").val();
                    var lastname=$("#lastname").val();
                    var phone=$("#phone").val();
                    var age=$("#age").val();
                    var gender=$("#gender").val();
                    var option1=$("#option1").val();
                    var option=$("#option").val();

                      $.ajax({
                           url: "{% url 'cart' %}",
                           type : "POST", 
                           data: {
                            "firstname" : firstname,
                            "lastname":lastname,
                            "phone":phone,
                            "age" : age,
                            "gender":gender,
                            "option1":option1,
                            "option":option,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                           },
                           dataType: "json",
                           success: function(resp){
                            
                            console.log(resp);
                            $("#infomodal").hide();
                            var options = {
           
                                key: "{{ razorpay_merchant_key }}",
                            
                                amount: "{{ razorpay_amount }}",
                                currency: "{{ currency }}",
                                 
                                // Your/store name.
                                name: "Diagnostica Span",
                                order_id: "{{ razorpay_order_id }}",
                                callback_url: "{{ callback_url }}",
                                redirect:true
                              };
                              // initialise razorpay with the options.
                              var rzp1 = new Razorpay(options);
                               
                              // add event listener to the payment button.
                           
                                rzp1.open();
                                e.preventDefault();

                                
                           },
                    
                       });
        }
    });
});


              
    </script>
</html>





