{% extends "index.html" %}
{% load static %}
{%block content%}
<body>
    {% include "header.html"%}

    <section class="sub_header py-xl-4 py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex ">
                        <p class="m-0 fs-18 font-regular cl-dark-blue opc-5 pe-1 sub_nav_bar"><a
                                href="{%url "home"%}">Home</a></p>
                        /
                        <p class="m-0 fs-18 font-regular cl-dark-blue ps-1 sub_nav_bar">Our Centers</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_ourcenters pb-lg-5 pb-3">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div class="bg-light-grey  px-lg-5 py-3 px-3 br-15">
                        <div class="row">
                            <div class="col-lg-4 p-0">
                                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link active text-start" id="v-pill-bangalore-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bangalore" type="button" role="tab" aria-controls="v-pills-bangalore" aria-selected="true">Bangalore</button>
                                    <button class="nav-link text-start" id="v-pills-mumbai-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mumbai" type="button" role="tab" aria-controls="v-pills-mumbai" aria-selected="false">Mumbai</button>
                                    <button class="nav-link text-start" id="v-pills-bhopal-tab" data-bs-toggle="pill" data-bs-target="#v-pills-bhopal" type="button" role="tab" aria-controls="v-pills-bhopal" aria-selected="false">Bhopal</button>
                                    <button class="nav-link text-start" id="v-pills-nanded-tab" data-bs-toggle="pill" data-bs-target="#v-pills-nanded" type="button" role="tab" aria-controls="v-pills-nanded" aria-selected="false">Nanded</button>
                                    <button class="nav-link text-start" id="v-pills-pune-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pune" type="button" role="tab" aria-controls="v-pills-pune" aria-selected="false">Pune</button>
                                    <button class="nav-link text-start" id="v-pills-barshi-tab" data-bs-toggle="pill" data-bs-target="#v-pills-barshi" type="button" role="tab" aria-controls="v-pills-barshi" aria-selected="false">Barshi</button>
                                    <button class="nav-link text-start" id="v-pills-aurangabad-tab" data-bs-toggle="pill" data-bs-target="#v-pills-aurangabad" type="button" role="tab" aria-controls="v-pills-aurangabad" aria-selected="false">Aurangabad</button>
                                </div>
                                <div class="col-12 pt-3 our_center_location">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-bangalore" role="tabpanel" aria-labelledby="v-pill-bangalore-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-mumbai" role="tabpanel" aria-labelledby="v-pills-mumbai-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-bhopal" role="tabpanel" aria-labelledby="v-pills-bhopal-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-nanded" role="tabpanel" aria-labelledby="v-pills-nanded-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-pune" role="tabpanel" aria-labelledby="v-pills-pune-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-barshi" role="tabpanel" aria-labelledby="v-pills-barshi-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-aurangabad" role="tabpanel" aria-labelledby="v-pills-aurangabad-tab">
                                            <ul class="p-0">
                                                <li> <i class="fa fa-map-marker  " aria-hidden="true"></i>
                                                    Ground floor, No. 79, 40th main<br>
                                                    M.E.I road, 2nd Stage<br>
                                                    Industrial Suburb<br>
                                                    Yeshwanthpur <br>
                                                    Bengaluru - 560022
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone " aria-hidden="true"></i>
                                                    <a href="tel:+919769351301">+ 91 98887 99994</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                                                    <a href="mailto:enquiry@spandiagno.com">enquiry@spandiagno.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 p-0">
                                <div class="br-10 our_centermap" id="map_canvas" style="height:550px;">hello</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {%include "footer.html"%}
</body>

<script>
var marker;
var map;

$("#v-pill-bangalore-tab").click(function(){
    changeMarkerPos(13.048307379565005, 77.60326407224436);
});
$("#v-pills-mumbai-tab").click(function(){
    changeMarkerPos(19.07899292310692, 72.87706458034737);
});

function initialize() {
    var styles = [{
        stylers: [{
            saturation: -100
        }]
    }];
    var styledMap = new google.maps.StyledMapType(styles, {
        name: "Styled Map"
    });
    var mapProp = {
        center: new google.maps.LatLng(3.165659, 101.611416),
        zoom: 17,
        panControl: true,
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: true,
        streetViewControl: true,
        overviewMapControl: true,
        rotateControl: true,
        scrollwheel: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), mapProp);
  
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style')

    marker = new google.maps.Marker({
        position: new google.maps.LatLng(3.167244, 101.612950),
       animation: google.maps.Animation.DROP,
    });
  
    marker.setMap(map);
    map.panTo(marker.position);
}

function changeMarkerPos(lat, lon){
    myLatLng = new google.maps.LatLng(lat, lon)
    marker.setPosition(myLatLng);
    map.panTo(myLatLng);
}

google.maps.event.addDomListener(window, 'load', initialize);



</script>

{%endblock%}