
{% for message in messages %}
{{message}}
{% endfor %}
<form method="POST" enctype="multipart/form-data" name="contact" action="" class="form-group">
{%csrf_token%}
{% comment %} <input type="file" name="prescription_file" > {% endcomment %}

{% comment %} <input type="text" name="others" > {% endcomment %}
{{fm.prescription_file}}<br>
{{fm.prescription_file.label}}<br>
<input type="radio" name="myself" id="myself" onClick="ckChange(this)"><br>
<input type="radio" name="others" id="others" onClick="ckChange1(this)"><br>
{% comment %} {{fm.myself}}<br>
{{fm.others}}<br> {% endcomment %}
{{fm.others_choice}}<br>
{{fm.firstname}}<br>
{{fm.lastname}}<br>
{{fm.contact}}<br>
{{fm.age}}<br>
{{fm.gender}}<br>
<button>submit</button>
</form>
<script>
    function ckChange(ckType){
        var ckName = document.getElementsByName(ckType.name);
        var checked = document.getElementById(ckType.id);
    
        if (checked.checked) {
            document.getElementById("others").checked = false;
            var g = document.getElementById("id_others_choice").disabled= true
        }   
    }
    function ckChange1(ckType){
        var ckName = document.getElementsByName(ckType.name);
        var checked = document.getElementById(ckType.id);
    
        if (checked.checked) {
            document.getElementById("myself").checked = false;
            document.getElementById("id_others_choice").disabled= false
        }   
    }
    </script>