
{% for message in messages %}
{{message}}
{% endfor %}
<form method="POST" enctype="multipart/form-data" name="contact" action="" class="form-group">
{%csrf_token%}
{{fm.test_name}}<br>
{% comment %} {{fm.prescription_file.label}}<br> {% endcomment %}
{{fm.myself}}<br>
{{fm.others}}<br>
{{fm.others_choice}}<br>
{{fm.firstname}}<br>
{{fm.lastname}}<br>
{{fm.contact}}<br>
{{fm.age}}<br>
{{fm.gender}}<br>
<button>submit</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('#id_test_name').change(function() {
        var selected = []; // create an array to hold all currently selected motivations
    
        // loop through each available motivation
        $('#id_test_name option').each(function() {
            // if it's selected, add it to the array above
            if (this.selected) {
                selected.push(this.value);
            }
        });
    
        localStorage.setItem('testname', JSON.stringify(selected));
    });
    alert("ok")
console.log(localStorage.getItem('testname'))
</script>



