{%extends "indexx.html"%}
{%block content%}
{% comment %} <a href={% url "aggregator-logout"%}>Logout</a> {% endcomment %}
<div id="wrapper">
{%include "sidebarr.html"%}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-end">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% comment %} <li><a class="dropdown-item" href="">Profile</a></li> {% endcomment %}
                                <li><a class="dropdown-item" href={% url "aggregator-profile" %}>Profile</a></li>
                                <li><a class="dropdown-item" href={% url "aggregator-logout" %}>Logout</a></li>
                                {% comment %} <li><a class="dropdown-item" href={% url "aggregator-changepassword"%}>Change Password</a></li> {% endcomment %}
                                {% comment %} <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 mx-auto pt-5">
                    <form method="POST" id="changepasswordform">
                        {%csrf_token%}
                        <div class="row mb-4" >
                            <div class="col-12 pt-4 pb-5 changee" style="box-shadow: 0px 1px 7px -2px;">
                                <h4 class="" >Change Password</h4>
                              <div class="pt-5 check">
                               <input placeholder="Current Password" class="form-control" id="oldpassword" name="oldpassword" type="password">
                               {% comment %} <i
                                                class=" n_password change_password_eye fa fa-fw fa-eye-slash position-absolute  "></i> {% endcomment %}
                              </div>
                              <div class="pt-4">
                                <input placeholder="New Password" class="form-control" id="newpassword" name="newpassword" type="password">
                               </div>
                               <div class="pt-4">
                                <input placeholder="Confirm New Password" class="form-control" id="confirmnewpassword" name="confirmnewpassword" type="password">
                               </div>
                                <div class="pt-5 d-flex justify-content-end">
                                <button type="submit" class="btn-primary form-control w-50 ">Submit</button>
                            </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        jQuery.validator.addMethod("password_regex", function (value, element) {
            return this.optional(element) || /^[a-z0-9!@#$%^&*()_\.\-_]{8,30}$/i.test(value);
        }, "Password should be minimum 8 characters.");

      $("#changepasswordform").validate({
        rules: {

            'oldpassword': {
                required: true,
            },
            'newpassword': {
                required: true,
                password_regex: true,
               
            },
            'confirmnewpassword':{
                required: true,
                equalTo : "#newpassword",
            },
        },
        messages: {
            'oldpassword': {
                required: "This field is required."
            },

            'newpassword': {
                required: "This field is required."
            },
            'confirmnewpassword':{
                required: "This field is required.",
            }
        },
        submitHandler: function (form) {
            form.submit();
        }
    });
    $("#oldpassword").focus(function(){
        $("#currentPassword-errorr").remove();
    });
   $("#oldpassword").focusout(function(){
   var a=$("#oldpassword").val();
     $.ajax({
          url: "{% url 'passwordcheck' %}",
          type : "POST", 
          data: {
           "password" : a,
           csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          dataType: "json",
          success: function(resp){
           //console.log(resp['message'])
           if (!resp['message']){
               console.log(resp['message'])
               //alert("Invalid Password")
               //$("#currentPassword-errorr").remove();
               if ($("#oldpassword").val()!=""){
              $(".check").append(`<div id ="currentPassword-errorr"><label class="error">Password didn't match</label></div>`);
           }
           }
          },
   
      });
 });
    });
</script>

{% if messages %}
{% for message in messages %}
{% if message.tags == "warning"%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');
    swal({
    title:'{{message}}',
    //text: "You clicked the button!",
    icon:"warning",
    button:"ok"
});
  });
</script>
{%else%}
<script>
  $(document).ready(function(){
   // swal('{{message}}');
    swal({
    title:'{{message}}',
    //text: "You clicked the button!",
    icon:"success",
    button:"ok"
});
  });
</script>
{% endif %}
{%endfor%}
{% endif %}
{%endblock%}